<div class="pro-coverH">
</div>
<div class="pro-menuH">
</div>
<section>
    <div class="container com-sp pad-bot-70 pg-inn">
        <div class="row">
            <div class="cor">
                <div class="col-md-3">
                    <div class="cor-top-deta cor-side-com">
                        <div class="cor-top-deta">
                            <div class="ho-st-login cor-apply field-com">
                                <div class="col s12">
                                    <form class="col s12">
                                        <div class="pro-user" style="border: 0px; box-shadow:0px 0px 0px 0px;">
                                            <img src="media/adLogo.png" style="border: 0px;" alt="user">
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="cor-con-mid">
                        <div class="cor-p1">
                            <h2>Nos Historia</h2>
                        </div>
                        <div class="cor-p4">
                            <p>In augustus 2008 werd de Adventschool te Nrd Roosendaal getroffen door een hevige
                                wervelwind. De schoolpopulatie moest verhuizen naar een school te Bonam. De leerlingen
                                werden elke dag vervoerd van de school van Noord Roozendaal naar de school te Bonam.
                                Dat bleef zo tot het moment dat de de overheid besloten heeft om t/m December 2012 voor
                                transport te zorgen.
                                In januari 2013 moest een gedeelte van de school
                                In 2011 kreeg het schoolbestuur een terrein te Mahuma toegewezen. Na lang overleggen met
                                de overheids instanties over toegewezen gelden, kreeg het schoolbestuur te horen dat er
                                geen geld beschikbaar was voor het bouwen van de nieuwe locatie. Ook had de overheid
                                afgekondigd dat zij voor vervoer zullen zorgen t/m December 2012.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="cor-side-com">
                        <div class="ho-ev-latest-bg-3">
                            <div class="pro-user" style="border: 0px;">
                                <img src="media/EduMundial1.png" alt="user">
                            </div>
                            <div class="pro-user-bio" style="border: 0px;">
                                <ul class="pl-0">
                                    <li>Adventschool Bonam</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>