<link href="css/skolnan/koralspecht.css" rel="stylesheet" />

<section>
    <div id="myCarousel" class="carousel slide" data-ride="carousel">
        <!-- Wrapper for slides -->
        <div class="carousel-inner">
            <div class="item slider1 active">
                <img src="media/slider/slider-1.jpg" alt="">
                <div class="carousel-caption slider-con">
                    <h2>Adventschool <span>Koralspecht</span></h2>
                    <p>E iglesia Adventista di shete dia ta rekonosé Dios komo e último fuente di eksistensia, bèrdat, i
                        poder. Na prinsipio Dios a krea un humanidat pèrfekto segun Su imagen....</p>
                </div>
            </div>
            <div class="item">
                <img src="media/slider/slider-2.jpg" alt="">
                <div class="carousel-caption slider-con">
                    <h2>Graduashon <span>2020</span></h2>
                    <p>Konose nos mucha nan di klas 8 ku a gradua e aña aki, ku orguyo nos por selebra
                        i reconose tur nos alumno nan ku a gradua</p>
                    <a href="#" class="bann-btn-2">Lesa Mas</a>
                </div>
            </div>
            <div class="item">
                <img src="media/slider/slider-3.jpg" alt="">
                <div class="carousel-caption slider-con">
                    <h2>Medida nan <span>Covid</span></h2>
                    <p>Back to School! Lesa i sa mas di nos medidanan kontra Covid-19 pa nos aña escolar nobo, click 
                        riba e boton pa lesa e documento</p>
                    <a href="#" class="bann-btn-2" id="btnDownload">Lesa Mas</a>
                </div>
            </div>
        </div>

        <!-- Left and right controls -->
        <a class="left carousel-control" href="#myCarousel" data-slide="prev">
            <i class="fa fa-chevron-left slider-arr" aria-hidden="true"></i>
        </a>
        <a class="right carousel-control" href="#myCarousel" data-slide="next">
            <i class="fa fa-chevron-right slider-arr" aria-hidden="true"></i>
        </a>
    </div>
</section>

<section class="bBini">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="wrapper">
                    <div class="border-circle" id="one"></div>
                    <div class="border-circle" id="two"></div>
                    <div class="background-circle">
                        <div class="triangle-light"></div>
                        <div class="body"></div>
                        <span class="shirt-text">B</span>
                        <span class="shirt-text">O</span>
                        <span class="shirt-text">N</span>
                        <span class="shirt-text">B</span>
                        <span class="shirt-text">I</span>
                        <span class="shirt-text">N</span>
                        <span class="shirt-text">I</span>
                        <div class="triangle-dark"></div>
                    </div>
                    <div class="head">
                        <div class="ear" id="left"></div>
                        <div class="ear" id="right"></div>
                        <div class="hair-main">
                            <div class="sideburn" id="left"></div>
                            <div class="sideburn" id="right"></div>
                            <div class="hair-top"></div>
                        </div>
                        <div class="face">
                            <div class="hair-bottom"></div>
                            <div class="nose"></div>
                            <div class="eye-shadow" id="left">
                                <div class="eyebrow"></div>
                                <div class="eye"></div>
                            </div>
                            <div class="eye-shadow" id="right">
                                <div class="eyebrow"></div>
                                <div class="eye"></div>
                            </div>
                            <div class="mouth"></div>
                            <div class="shadow-wrapper">
                                <div class="shadow"></div>
                            </div>
                        </div>
                    </div>
                    {{!-- <span class="music-note" id="one">&#9835;</span>
                    <span class="music-note" id="two">&#9834;</span> --}}
                </div>
            </div>
            <div class="col-lg-6">
                <div class="bonCont">
                    <h5>Un kaluroso bon bini na Adventschool Bonam</h5>
                    <h6>aki riba nos website lo bo por haña diferente infromashon ku lo por yuda bu i laga ta mas
                        informá. Nos lo infromá
                        un i tur na kada skol, kiko ta nos plan nan pa nos sait(pagina).</h6>
                </div>
            </div>
        </div>
    </div>
</section>

{{!-- vishon i mishon --}}
<section class="miVi">
    <div class="container">
        <div class="row">
            <div class="col-md-6 pt-50">
                <div>
                    <div class="miVi-top-cour1">
                        {{!-- <div class="col-md-3"> <img src="media/course/objetivo.png" alt=""> </div> --}}
                        <div class="col-md-8 miVi-top-cour-desc">
                            <h2>Mishon</h2>
                            <h3>Trahando pa forma suidadanonan pa e tera aki i esun selestial.</h3>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 pt-50">
                <div>
                    <div class="miVi-top-cour2">
                        {{!-- <div class="col-md-3"> <img src="media/course/binocular.png" alt=""> </div> --}}
                        <div class="col-md-9 miVi-top-cour-desc">
                            <h2>Vishon</h2>
                            <h3>Vishon ta pa kada studiante por sobresali den fe, siñansa i servisio.</h3>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

{{!-- <section class="mas-info">
    <div class="mas-title">
        <div class="row text-center">
            <h2>Mas <span>Informashon</span></h2>
            <p>Den e sekshon aki lo bo por haña mas informashon di nos skok AD Bonam.</p>
        </div>
    </div>
    <div class="mas-box">
        <div class="mas-box-content">
            <div class="ed-course-in">
                <a class="course-overlay" id="modal-btnR">
                    <img src="media/bonamHome.jpg" alt="">
                    <span>Regalanan</span>
                </a>
            </div>
        </div>
        <div class="mas-box-content1">
            <div class="ed-course-in">
                <a class="course-overlay" target="_blank"
                    href="https://drive.google.com/drive/folders/1YY44XfE31Vvzr6da6EwtWn5my15SCGrd?usp=sharing">
                    <img src="media/koralHome.jpg" alt="">
                    <span>Potrèt</span>
                </a>
            </div>
        </div>
        <div class="mas-box-content2">
            <div class="ed-course-in">
                <a class="course-overlay" href="/bonamHist">
                    <img src="media/mahumaHome.jpg" alt="">
                    <span>Historia</span>
                </a>
            </div>
        </div>
    </div>
    <div class="mas-img">
        <img src="media/bonam/mas-img.png" alt="">
    </div>

</section> --}}

{{!-- mas info Section --}}
<section class="reglaS">
    <div class="container">
        <div class="row text-center">
            <h2>Mas <span>Informashon</span></h2>
            <p>Den e sekshon aki lo bo por haña mas informashon di nos skok AD Bonam. Potrèt nan,<br> nos historia i
                tambe nos regla nan, lesa i sa mas di nos</p>
        </div>
        <div class="row pad-t">
            <div class="col-md-4">
                <div class="ed-course-in">
                    <a class="course-overlay" id="modal-btnR">
                        <img src="media/bonamHome.jpg" alt="">
                        <span>Regalanan</span>
                    </a>
                </div>
            </div>
            <div class="col-md-4">
                <div class="ed-course-in">
                    <a class="course-overlay" target="_blank"
                        href="https://drive.google.com/drive/folders/1YY44XfE31Vvzr6da6EwtWn5my15SCGrd?usp=sharing">
                        <img src="media/koralHome.jpg" alt="">
                        <span>Potrèt</span>
                    </a>
                </div>
            </div>
            <div class="col-md-4">
                <div class="ed-course-in">
                    <a class="course-overlay" href="/bonamHist">
                        <img src="media/mahumaHome.jpg" alt="">
                        <span>Historia</span>
                    </a>
                </div>
            </div>
        </div>
        <div id="my-modalR" class="modalR">
            <div class="modal-contentR">
                <div class="modal-headerR">
                    <span class="closeBtnR">
                        <!--&times;-->
                    </span>
                    <div class="modal-headerTR">Nos reglanan</h2>
                    </div>
                    <div class="modal-bodyR">
                        <div class="modal-titleR">Regla 1</div>
                        <div class="modal-textR">Tur dia, 7.30 di mainta skol ta kuminsá ku Kulto Matutino, i mèrdia nos
                            ta tèrminá ku
                            orashon.</div>
                        <br>
                        <div class="modal-titleR">Regla 2</div>
                        <div class="modal-textR">Muchanan mester yega skol na tempu, kiermen promé ku mitar di 8. Porta
                            di skol ta sera
                            pa mitar di 8 i ta habri bèk 8’or. Muchanan ku yega lat mas ku 3 biaha (tras di otro )
                            por haña sanshon.</div>
                        <br>
                        <div class="modal-titleR">Regla 3</div>
                        <div class="modal-textR">Muchanan ta bini skol ku un tas ku nan materialnan di skol separá for
                            di nan desayuno
                            saludabel, puru i un sèrbètè.</div>
                        <br>
                        <div class="modal-titleR">Regla 4</div>
                        <div class="modal-textR">Muchanan ta bini skol uniformá. E ünifòrm mester ta limpi i desente.
                            Mucha muhé: saya, blusa den saya, sapatu òf kèts kompletamente pretu ku mea hel.
                            Mucha hòmber: karson ku kamisa den karson ku faha, sapatu òf kèts kompletamente pretu ku mea
                            pretu òf bèrdè.
                            Tur alumno su mea mester ta nòrmal i visibel, no mea spòrtif.</div>
                        <br>
                        <div class="modal-titleR">Regla 5</div>
                        <div class="modal-textR">Maestronan i muchanan ta wòrdu respetá. Palabranan bulgar òf
                            ekspreshonnan violento no ta wòrdu aseptá.
                            Desobedensia ta keda sanshoná..</div>
                        <br>
                        <div class="modal-titleR">Regla 6</div>
                        <div class="modal-textR">Muchanan muhé mester ta bon, pero nòrmal peñá. Muchanan hòmber mester
                            ta bon, pero nòrmal pelá. No ta pèrmití
                            “staartje” den ningun forma, ni “dread”, ni krùl, ni kabei wantá den elastik, ni dibuhonan
                            straño. Saludabel, puru i un sèrbètè.</div>
                        <br>
                        <div class="modal-titleR">Regla 7</div>
                        <div class="modal-textR">Muchanan ku falta skol, ta bin bèk e promé dia despues di nan ousensia
                            ku un karta di nan mayornan.</div>
                        <br>
                        <div class="modal-titleR">Regla 8</div>
                        <div class="modal-textR">Bringamentu ta striktamente prohibí. Esun ku bringa ta wòrdu di skòrs
                            òf kitá for di skol.</div>
                        <br>
                        <div class="modal-titleR">Regla 9</div>
                        <div class="modal-textR">Mayornan ta subi riba tereno di skol desente bistí; no ku shòrt chikí,
                            lomba afó ,shimis kòrtiku òf “boxershort” pafó di e karson.</div>
                        <br>
                        <div class="modal-titleR">Regla 10</div>
                        <div class="modal-textR">Mayornan ku ke papia ku maestronan por hasi esaki promé ku skol
                            kuminsá, durante pousa (9.45-10.00) òf despues di skol segun sita</div>
                        <br>
                        <div class="modal-titleR">Regla 11</div>
                        <div class="modal-textR">Tur mayor ku kier bai serka e maestro di klas òf un alumno di skol,
                            mester mèldu serka e
                            kabes di skol promé.</div>
                        <br>
                        <div class="modal-titleR">Regla 12</div>
                        <div class="modal-textR">Muchanan ku kibra, pèrdè òf daña kosnan di skol i di maestronan mester
                            paga e daño.</div>
                        <br>
                        <div class="modal-titleR">Regla 13</div>
                        <div class="modal-textR">Ora skol kaba, tur mucha ku no ta keda “opvang” mester bai kas. No por
                            keda den kurá di skol despues di 12.30.</div>
                        <br>
                        <div class="modal-titleR">Regla 14</div>
                        <div class="modal-textR">Na skol muchanan no ta bisti prenda (renchi, armband, kadena i hilu dor
                            di buraku di orea, ets.) Ni ta pèrmití pa muchanan
                            usa “make-up” (pinta boka, uña, wowo). Ta ekstriktamente prohibí pa alumnonan bini skol ku
                            selular i weganan elektróniko i òf karu.</div>
                        <br>
                        <div class="modal-titleR">Regla 15</div>
                        <div class="modal-textR">Si un mucha tin un algun malesa, mayornan mester avisá e maestro di
                            klas òf e kabes di skol.</div>
                        <br>
                        <div class="modal-titleR">Regla 16</div>
                        <div class="modal-textR">Ora skol tin reunion òf otro aktividat pa mayornan (òf muchanan), tur
                            mayor (òf muchanan) ta wòrdu sperá sin eksepshon.</div>
                        <br>
                        <div class="modal-titleR">Regla 17</div>
                        <div class="modal-textR">Mayornan ta prohibí pa drenta kurá di skol ku: bibida alkohóiko,
                            tabako, droga òf arma.</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{{!-- maestronan --}}
<section>
    <div class="container">
        <div class="row ptB">
            <div class="row text-center">
                <h2>Nos <span>Maestronan</span></h2>
                <p>Den e sekshon aki lo bo por haña mas informashon di nos skok AD Bonam. Potrèt nan,<br> nos historia i
                    tambe nos regla nan, lesa i sa mas di nos</p>
            </div>
            <div class="row">
                <div class="col-md-3">
                    <div class="pro-userB">
                        <img src="media/Bonam/maestronan/sarita.jpg" alt="user">
                    </div>
                    <div class="pro-user-bio">
                        <ul>
                            <li>
                                <h5>Emily Jessica</h5>
                            </li>
                            <li>Student Id: ST17241</li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="pro-userB">
                        <img src="media/Bonam/maestronan/yuf.jpg" alt="user">
                    </div>
                    <div class="pro-user-bio">
                        <ul>
                            <li>
                                <h5>Emily Jessica</h5>
                            </li>
                            <li>Student Id: ST17241</li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="pro-userB">
                        <img src="media/Bonam/maestronan/mr.jpg" alt="user">
                    </div>
                    <div class="pro-user-bio">
                        <ul>
                            <li>
                                <h5>Emily Jessica</h5>
                            </li>
                            <li>Student Id: ST17241</li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="pro-userB">
                        <img src="media/Bonam/maestronan/randim.jpg" alt="user">
                    </div>
                    <div class="pro-user-bio">
                        <ul>
                            <li>
                                <h5>Emily Jessica</h5>
                            </li>
                            <li>Student Id: ST17241</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="row pt-1">
                <div class="col-md-3">
                    <div class="pro-userB">
                        <img src="media/Bonam/maestronan/mr1.jpg" alt="user">
                    </div>
                    <div class="pro-user-bio">
                        <ul>
                            <li>
                                <h5>Emily Jessica</h5>
                            </li>
                            <li>Student Id: ST17241</li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="pro-userB">
                        <img src="media/Bonam/maestronan/osheli.jpg" alt="user">
                    </div>
                    <div class="pro-user-bio">
                        <ul>
                            <li>
                                <h5>Emily Jessica</h5>
                            </li>
                            <li>Student Id: ST17241</li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="pro-userB">
                        <img src="media/Bonam/maestronan/yuf1.jpg" alt="user">
                    </div>
                    <div class="pro-user-bio">
                        <ul>
                            <li>
                                <h5>Emily Jessica</h5>
                            </li>
                            <li>Student Id: ST17241</li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="pro-userB">
                        <img src="media/Bonam/maestronan/yuf2.jpg" alt="user">
                    </div>
                    <div class="pro-user-bio">
                        <ul>
                            <li>
                                <h5>Emily Jessica</h5>
                            </li>
                            <li>Student Id: ST17241</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="row pt-1">
                <div class="col-md-3">
                    <div class="pro-userB">
                        <img src="media/Bonam/maestronan/yuf3.jpg" alt="user">
                    </div>
                    <div class="pro-user-bio">
                        <ul>
                            <li>
                                <h5>Emily Jessica</h5>
                            </li>
                            <li>Student Id: ST17241</li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="pro-userB">
                        <img src="media/Bonam/maestronan/yuf4.jpg" alt="user">
                    </div>
                    <div class="pro-user-bio">
                        <ul>
                            <li>
                                <h5>Emily Jessica</h5>
                            </li>
                            <li>Student Id: ST17241</li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="pro-userB">
                        <img src="media/Bonam/maestronan/yuf5.jpg" alt="user">
                    </div>
                    <div class="pro-user-bio">
                        <ul>
                            <li>
                                <h5>Emily Jessica</h5>
                            </li>
                            <li>Student Id: ST17241</li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="pro-userB">
                        <img src="media/Bonam/maestronan/yuf6.jpg" alt="user">
                    </div>
                    <div class="pro-user-bio">
                        <ul>
                            <li>
                                <h5>Emily Jessica</h5>
                            </li>
                            <li>Student Id: ST17241</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="row pt-1">
                <div class="col-md-3">
                    <div class="pro-userB">
                        <img src="media/Bonam/maestronan/yuf7.jpg" alt="user">
                    </div>
                    <div class="pro-user-bio">
                        <ul>
                            <li>
                                <h5>Emily Jessica</h5>
                            </li>
                            <li>Student Id: ST17241</li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="pro-userB">
                        <img src="media/Bonam/maestronan/yuf8.jpg" alt="user">
                    </div>
                    <div class="pro-user-bio">
                        <ul>
                            <li>
                                <h5>Emily Jessica</h5>
                            </li>
                            <li>Student Id: ST17241</li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="pro-userB">
                        <img src="media/Bonam/maestronan/yuf9.jpg" alt="user">
                    </div>
                    <div class="pro-user-bio">
                        <ul>
                            <li>
                                <h5>Emily Jessica</h5>
                            </li>
                            <li>Student Id: ST17241</li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="pro-userB">
                        <img src="media/Bonam/maestronan/yuf10.jpg" alt="user">
                    </div>
                    <div class="pro-user-bio">
                        <ul>
                            <li>
                                <h5>Emily Jessica</h5>
                            </li>
                            <li>Student Id: ST17241</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
</section>
<section class="tInfoK">
    <div class="tInfoIK">
        <div class="tInfoISectionK">
            <div class="tInfoI-contentK">
                <div class="tInfoI-boxK">
                    <div class="tInfoI-boxContK">
                        <img class="tInfoImgK" src="media/loce.png" alt="">
                        <div class="tInfoITextBK">
                            <div class="tInfoITextK">nos adrès</div>
                            <div class="tInfoIText2K">bonamweg25 38</div>
                        </div>
                    </div>
                </div>
                <div class="tInfoI-box1K">
                    <div class="tInfoI-boxContK">
                        <img class="tInfoImgK" src="media/phone.png" alt="">
                        <div class="tInfoITextBK">
                            <div class="tInfoITextK">yama nos na</div>
                            <div class="tInfoIText2K">+5999 465 7636</div>
                        </div>
                    </div>
                </div>
                <div class="tInfoI-box2K">
                    <div class="tInfoI-boxContK">
                        <img class="tInfoImgK" src="media/clocki.png" alt="">
                        <div class="tInfoITextBK">
                            <div class="tInfoITextK">nos horario</div>
                            <div class="tInfoIText2K">7:30 PA 12:30</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
