<div class="pro-coverH">
</div>
<div class="pro-menuH">
</div>
<section>
    <div class="container com-sp pad-bot-70 pg-inn">
        <div class="row">
            <div class="cor">
                <div class="col-md-3">
                    <div class="cor-top-deta cor-side-com">
                        <div class="cor-top-deta">
                            <div class="ho-st-login cor-apply field-com">
                                <div class="col s12">
                                    <form class="col s12">
                                        <div class="pro-user" style="border: 0px; box-shadow:0px 0px 0px 0px;">
                                            <img src="media/adLogo.png" style="border: 0px;" alt="user">
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="cor-con-mid">
                        <div class="cor-p1">
                            <h2>Nos Historia</h2>
                        </div>
                        <div class="cor-p4">
                            <p>In het jaar 1998 waren twee klassen van de Adventschool te Noord Roozendaal verhuisd naar
                                de Martines de Porres school te St.Rosa. Wij waren met de vierde en de vijfde klas daar
                                naartoe verhuisd om een paar maanden te blijven en daarna zouden we een ander gebouw
                                daar in de buurt krijgen. Dat ander gebouw had wel op zich laten wachten want pas in het
                                jaar 2000 hadden we een schoolgebouw hier in Koraalspecht gekregen en zo waren wij, de
                                Basisschool samen met de kleuterschool te Bonam hier naar toe verhuisd.
                                We waren eerst een dependance van Noord Roozendaal en werden pas in aug. 2004 een
                                onafhankelijke school.
                                Onze school begon met 117 leerlingen verdeeld in 7 klassen. Van kleuterschool tot en met
                                klas 6.

                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="cor-side-com">
                        <div class="ho-ev-latest-bg-3">
                            <div class="pro-user" style="border: 0px;">
                                <img src="media/EduMundial1.png" alt="user">
                            </div>
                            <div class="pro-user-bio" style="border: 0px;">
                                <ul class="pl-0">
                                    <li>Adventschool Koralspecht</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>