<div class="pro-coverH">
</div>
<div class="pro-menuH">
</div>
<section>
    <div class="container com-sp pad-bot-70 pg-inn">
        <div class="row">
            <div class="cor">
                <div class="col-md-3">
                    <div class="cor-top-deta cor-side-com">
                        <div class="cor-top-deta">
                            <div class="ho-st-login cor-apply field-com">
                                <div class="col s12">
                                    <form class="col s12">
                                        <div class="pro-user" style="border: 0px; box-shadow:0px 0px 0px 0px;">
                                            <img src="media/adLogo.png" style="border: 0px;" alt="user">
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="cor-con-mid">
                        <div class="cor-p1">
                            <h2>Nos Historia</h2>
                        </div>
                        <div class="cor-p4">
                            <p>De Adventschool te Noord Roozendaal is een basisschool die in juli 1969 werd opgericht.
                                De school was een donatie van de E.E.G.
                                Een groot behoefte van de Advent Gemeente was om een eigen school te hebben voor hun
                                kinderen om adventisten opvoeding en Adventisten Onderwijs te bieden.
                                De leerlingen van de school waren oorspronkelijk verspreid over de hele eiland. Van
                                banda ariba te banda abou.
                                Er waren twee bussen die voor het vervoer van de kinderen zorgden. Eén bus was de
                                eigendom van het schoolbestuur en de andere bus was van D.O.W. ( Dienst Openbare Werken
                                ).
                                De school telde eerst zes klassen,maar was later uitgegroeit tot een achtklassige
                                school.De school had een personeelskamer, een overdekte en een speelplaats. De school
                                had 272 leerlingen. Het voordeel van deze kleine school was dat er genoeg speelruimte
                                was. Het aantal leerlingen per klas was om en nabij 30.
                                Voor het Voortgezet onderwijs werd school op Zaterdag ingevoert. De dreiging was dat dat
                                ook ingevoert zou worden voor de basisscholen. Om dat te vermijden heeft het
                                Adventschoolbetuur besloten middagschool in te voeren t/m 3:00 pm en op de woensdagen
                                12:30 pm. ende basisscholen.
                                De school had geen handenarbeid lokaal. De handenarbeidlessen werden onder de overdekte
                                gegeven.De jongens kregen handvaardigheid ,terwijl de meisjes handwerk kregen.
                                In augustus 2008 werd de school aangetast door een hevige wervelwind. Verschillende
                                lokalen bleven zonder dak. We verhuisden toen naar een school te Bonam. De leerlingen
                                werden elke dag vervoerd van de school van Noord Roozendaal naar de school te Bonam.In
                                2011 kreeg het schoolbestuur een terrein te Mahuma toegewezen. Na lang overleggen met de
                                overheids instanties over toegewezen gelden, kreeg het schoolbestuur te horen dat er
                                geen geld beschikbaar was voor het bouwen van de nieuwe locatie. Ook had de overheid
                                afgekondigd dat zij voor vervoer zullen zorgen t/m December 2012.


                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="cor-side-com">
                        <div class="ho-ev-latest-bg-3">
                            <div class="pro-user" style="border: 0px;">
                                <img src="media/EduMundial1.png" alt="user">
                            </div>
                            <div class="pro-user-bio" style="border: 0px;">
                                <ul class="pl-0">
                                    <li>Adventschool Mahuma-zuid</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>