<!DOCTYPE html>
<html>

<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Success</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <script src="https://kit.fontawesome.com/14fac1d4b2.js" crossorigin="anonymous"></script>
    <link rel='stylesheet' type='text/css' media='screen' href='css/success.css'>
</head>

<body>
    <div class="success">
        <div class="success-overlay">
            <div class="success-content">
                <a class="back-button" href="/"><i class="fas fa-arrow-circle-left"></i></a>
                <div class="success-box">
                    <div class="box-content">
                    <img src="media/success-icon.png" alt="">
                    <div class="success-body">
                        <h5>Felisidad bo registro a wordu krea i warda ku exito den nos sistema. Den menos di 1 minut lo
                            bo haña un email ku e link i bo username i password pa por drenta e portal. Feliz dia i Dios
                            bendishona bo rikamente.</h5>
                    </div>
                    </div>
                    
                </div>
                <div class="bottom-img">
                    <img src="media/logoDash.png" alt="">
                </div>
            </div>
        </div>
        <img class="suc-img" src="media/success.jpg">
        <img class="suc-img1" src="media/success1.jpg">
        <img class="suc-img2" src="media/success2.jpg">
        <img class="suc-img3" src="media/success3.png">
    </div>
</body>
<script src='main.js'></script>

</html>