<header>
  <div class="overlay">Video error, 45 seconde</div>
  <video playsinline="playsinline" autoplay="autoplay" loop="loop">
    <source src="media/videos/ASA.mp4" type="video/mp4">
  </video>
</header>

 <section class="c-all p-semi">
        <div class="semi-inn">
            <div class="semi-com semi-left">
                <div class="all-title quote-title qu-new semi-text">
                    <h2>Amigunan di skolanan Adventista</h2>
                    <p>Den nos afan pa por sirbi nos alumnonan mihó, dunando nan mas di loke ta e básiko, nos a lanta e organisashon ASA ku ta pará pa Amigunan di Skolnan Atventista.</p>
                    <p>E ala den nos organisashon akí ta un parti kaminda tur hende ku ta kere den edukashon atventista i den e desaroyo holístiko di nos muchanan por partisipá.</p>
                    <p>Bo ta un ASA ora ku bo kier usa bo talentonan, bo abilidatnan, bo tempu i bo rekursonan finansiero den forma bolunturario pa desaroyo di nos alumnonan.</p>
                    <p>Ehèmpelnan:<br>
Nos kier siña nos hóbennan traha un banki. Si bo ta un karpinté i kier yuda nos ku esaki pa pasa bo konosementu na nos alumnonan, bo ta mas ku bon biní komo un ASA.<br>
Si bo ta un dosente p.e di idioma, músika, deporte, kompüter o algu otro  i bo kier ofresé bo konosementu na disponibildat di e alumnonan i bo ta pone algun oranan di bo tempu na disposishon di  nos alumnonan, bo ta mas ku bon biní komo un ASA
Si nos mester traha kashi, pega mosaiko o kualkier otro nesesidat, bo ta mas ku bon biní komo un ASA<br>
<br>Si bo kier ta un “leesmoeder”, traha den nos bibliotekanan, yuda maestronan ora di salida o kualkier otro aktividat algun ora, bo ta mas ku bon biní komo un ASA
</p>
                    
                </div>
            </div>
            <div class="semi-com semi-right">
                <p class="help-line">Ku kiko nos por yuda!</p>
                <div class="n-form-com semi-form">
                    <div class="col s12">
                        <form class="form-horizontal" id="emailSend">
                            <div class="form-group">
                                <div class="col-md-12">
                                    <input type="text" class="form-control" placeholder="Nòmber" required id="name">
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-12">
                                    <input type="number" class="form-control" placeholder="Telefòn" required id="telefon">
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-12">
                                    <input type="email" class="form-control" placeholder="Email" required id="email">
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-12">
                                    <input type="text" class="form-control" placeholder="Kiko ta bo pregunta?" id="question">
                                </div>
                            </div>
                            <div class="form-group mar-bot-0">
                                <div class="col-md-12">
                                    <i class="waves-effect waves-light light-btn waves-input-wrapper" style=""><input type="submit" value="MANDA" class="waves-button-input"></i>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section>
        <div class="full-bot-book">
            <div class="container">
                <div class="row" style="margin-left: -80px;">
                    <div class="bot-book">
                        <div class="col-md-2 bb-img">
                            {{!-- <img src="media/3.png" alt=""> --}}
                            <i class="fas fa-money-check"></i>
                        </div>
                        <div class="col-md-7 bb-text">
                            <h4>Yuda nos skolnan finansieramente</h4>
                            <p>Si bo kier yuda ku parti finansiero pa nos skolnan por kumpra loke ta nesesario den desaroyo di nos skolnan, pa salidanan, tur loke ta èkstra ku no ta haña finansiamentu di gobièrnu p’e, bo ta bon biní komo un ASA. </p>
                        </div>
                        <div class="col-md-3 bb-link">
                            <a href="#">MCB # 86952503 - Ref : ASA</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>