<section>
    <div class="container com-sp pad-bot-70 pg-inn">
        <div class="row">
            <div class="cor">
                <div class="col-md-3">
                    <div class="cor-top-deta cor-side-com">
                        <div class="cor-top-deta">
                            <div class="ho-st-login cor-apply field-com">
                                <div class="col s12">
                                    <form class="col s12">
<div class="pro-user" style="border: 0px; box-shadow:0px 0px 0px 0px;">
                                <img src="media/adLogo.png" style="border: 0px;" alt="user">
                            </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="cor-con-mid">
                        <div class="cor-p1">
                            <h2>Historia</h2>
                        </div>
                        <div class="cor-p4">
                            <p>Iglesia Atventista di Shete Dia ta un movementu mundial ku mas di 20 mion miembro den
                                práktikamente tur pais i ta kresiendo. Su surgimentu ta bíbliko i su historia ta data
                                for di aña 1844, pero ofisialmente a establesé na 1863 na Estádos Unídos. Nos tin e
                                Beibel komo e úniko kredo i esaki ta forma e base di tur nos kreensianan fundamental.
                                Nos ta distinguí nos mes pa e selebrashon di e Sabat, e di shete dia di siman, komo e
                                dia di sosiegu manera Beibel a establesé esaki i tambe pa e énfasis riba e pronto binida
                                di nos Señor Hesus.</p>
                        </div>
                        <div class="cor-p5">
                            <h4>Adventschool</h4>
                            <p>Mishon Atventista a kuminsá ku un skol privá ku a wòrdu
                                yamá: <b>Gibson Memorial</b>.<br>
                                Gibson Memorial no tabata kumpli ku e rekesitonan di gobièrnu i mester a
                                ser’é. E nesesidat pa un skol Atventista tabata kresiendo,
                                ya komo ku na Aruba ya gobièrnu a pone skol riba djasabra. I aya nan tabata
                                tene klasnan parti atardi, asina ku djasabra por tabata liber.
                                Na Kòrsou tambe tabatin e menasa aki. Riba 16 di ougùstùs 1969, despues di
                                30 di mei, e skol a habri su portanan. E motor grandi tras di e proyekto
                                aki tabata Pastor Jan Brinkman. No tabatin un komité di skol apart. Tur kos
                                tabata kai bou di mishon: Br. Timothy Newball.<br>
                                Sr. Castro Mercalina ku a regresá for di Hulanda na aña 1967, a haña e
                                enkargo pa sòru pa e “bestelling” di e skol. Bukinan, skrefnan i diferente
                                otro
                                materialnan a wòrdu kompilá. E lista tabata unu masha largu. Riba 2 di mei
                                1969 Sr. Carl Betram i famia a yega for di Hulanda pa sigui ku e trabou.
                                Su promé eksperensha tabata <a href="https://pap.wikipedia.org/wiki/Trinta_di_Me">30 di
                                    mei</a>, ya
                                komo e tabata biba den e iglesia bieu di Rio Canario, el a mira e hendenan
                                pasa banda di su kas.<br>
                                Un di e promé tareanan di Sr. Betram tabata pa haña alumno pa e skol. E
                                tabata kana kas pa kas di e rumannan pa haña mucha. E promé alumno inskribí
                                tabata
                                <b>Lichtenberg</b>Lichtenberg. E muchanan tabata bin di tur skina di Kòrsou,
                                fo’i Phlip na Banda Bou, te Montaña, na Banda Riba. Ya komo mayoria di e
                                muchanan tabata di Buena
                                Vista i bisindario, Margrietschool kasi a keda bashí. Lokual e kabes di skol
                                di einan a tuma nos hopi na malu, ya komo hopi mucha a kita sin mèldu.
                            </p>
                        </div>
                        <div class="cor-p4">
                            <h3>Apertura</h3>
                            <p>E djadumingu promé ku skol a habri, esta 10 di ougùstùs 1969, tabatin un
                                programa di apertura huntu ku e diputado di
                                enseñansa di Teritorio Insular di Kòrsou, defuntu Frank Roozendal i gezaghebber
                                Marcos. Tabatin hopi invitadonan prominente di komunidat.

                                Tabatin skol tur dia henter dia, ku eksepshon di djárason mèrdia.<br>
                                E maestronan di promé ora tabata:<br>
                                Sra. Rita Yie-Sam-Foek<br>
                                Sra. Wong-Kon Loi<br>
                                Sra. Betsy Antonia (obra di man)<br>
                                Sr. Richard de Jager<br>
                                Sr. Hedwig Arduin<br>
                                Sr. Iwan Mansro<br>
                                Sr. Castro Mercalina<br>
                                Sr Carl Betram<br>
                                Cerryl Cruger (Spaño).<br>
                                <br>
                                Despues di dos aña, Carl Betram a bira kabes di skol na Aruba, i Castro
                                Mercalina a bira kabes na Adventschool Kòrsou, funshon ku el a keda ehekutá te
                                1977.
                                <br>E kabesnan di skol ku a sigui ta:<br>
                                Sr. Hedwig Arduin (1977 - 1982)<br>
                                Sr. Freddy Thompson. (1982 – 2001)<br>
                                Sra Mavis Murray-Noor (2001 te ku awor)<br>
                                <br>
                                E alumnonan tabata wòrdu transportá. Onshi tabata e promé shofùr pa Banda Ariba
                                i ruman Didi Bartholomeus tabata e promé pa Banda Bou.
                                Adventschool tabata konosí komo un bon skol, kaminda tabatin hopi disiplina.
                                Muchanan di otro skolnan ku no por a wòrdu di 'hèndel' tabata bin Adventschool,
                                ku e preteksto: <b>"Si nan no por ku ne na Adventschool, anto ta ni un hende no
                                    por ku n'e"</b>.
                                Hopi alumnonan a siña konosé Hesus na Adventschool, i a batisá den boutismonan
                                di skol. Awe hopi di nan ta lidernan prominente den iglesia i komunidat.
                                Mishon a haña e pida tereno na Ost di Adventschool, pa traha Mavo, pero den
                                añanan despues el a wòrdu kitá na un manera misterioso, i un skol básiko di
                                gobièrno a wòrdu establesé riba e tereno.
                                Adventschool su speshalidat tabata 'slagbal', den kua bou di guia di maestro
                                Muhamadkasbi, nan a kohe e kampionato diferente bes.
                                <br><br>
                                Na aña 1974 a kuminsá kleuterschool Buena Vista bou di guia di yùf.Corra Arduin
                                siguí despues pa yùf.Greta Willems i na aña 1977 a kuminsá ku kleuterschool
                                Bonam, kual tabata bou di guia di yùf.Noor
                                siguí despues pa yùf.Greta Willems i despues pa yùf.Carry Sommer. E skolnan aki
                                tabata supli e skol básiko di alumnonan.
                                Un persona ku tabata presidente de skol bestuur pa hopi aña tabata Dr. Gustaaf
                                Lubliek. i Secretaria tabata Mr. Vilma Labega.(q.e.p.d.)
                                Na aña 1990 un dependence a kuminsá den Martinus de Porresschool na Sta. Rosa,
                                despues di un lucha tenas pa haña un skol Adventista na Banda Ariba.
                                Na aña 2001 e dependence aki a haña su mes lokalidat na Koraal Specht (Edifisio
                                ku antes tabata Da Costa Gomesschool). 14 di ougùstùs 2004 nos a risibí e karta
                                di Independisashon. I 6 di sèptèmber 2004 Adventschool Koraalspecht a wòrdu
                                inougurá komo un skol riba su mes bou di guiansa di yùf Koster.
                            </p>
                        </div>
                        <div class="cor-p6">
                            <h3>2008 te awor</h3>
                            <p>Despues ku un warwarú ku a distruí Adventschool Roozendaal riba 23 di ougùstùs
                                2008, nos por a bai Bonam.
                                Minister Cooper a sòru ku nos por a haña e ‘beheersovereenkomst’ riba e tereno
                                na Mahuma Zuid, kaminda Maranatha International a bin yuda nos traha e baraknan.
                                Unda nos ta for di yanüari 2013 te awor.
                                <br><br>
                                Nos funshonarionan di enseñansa:<br>
                                Dhr. H.F.
                                Arduin&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;1982- 1989
                                <br>
                                Mener Hendrey Isenia 1989-te ku awor<br>
                                <br>
                                Nos kabesnan di schoolbestuur: 1971 - te awor<br>
                            <div class="hrImg">
                                <div class="hendryImage">
                                    Dhr. Lubliek</div>
                            </div>
                            <div class="hrImg">
                                <div class="hendryImage">
                                    Dhr. A. Depusois</div>
                            </div>
                            <div class="hrImg">
                                <div class="hendryImage">
                                    Dhr. R. Mercalina</div>
                            </div>
                            <div class="hrImg">
                                <div class="hendryImage">
                                    Mw. M. Faris</div>
                            </div>
                            <div class="hrImg">
                                <div class="hendryImage">
                                    Mw. M. Cornelia</div>
                            </div>


                            <br>
                            Dios a bendishoná Kòrsou ku 3 bon skol. I ya nos tin 50 aña plantando e simia pa
                            Redenshon.
                            </p>
                        </div>
                        <div class="cor-p6">
                            <h3>Schoolleiders</h3>
                            <h5>Adventschool Nrd. Roosendaal</h5>
                            <div class="row">
                                <div class="col-sm-3">1969- 1971<br>
                                    1971- 1979<br>1979- 1982<br>1982- 2000<br>2000- 2021
                                </div>
                                <div class="col-sm-4">Dhr. C. Beetraam<br>
                                    Dhr. R. Mercalina<br>Dhr. H. Arduin<br>Dhr. R. Thompson<br>Mw. M. Murray
                                </div>
                            </div>
                            <br>
                            <h5>Adventschool te Mahuma Zuid</h5>
                            <div class="row">
                                <div class="col-sm-3">2008- 2021.</div>
                                <div class="col-sm-4">Mw. M. Murray</div><br>
                                <div class="col-sm-3">2021- ……….</div>
                                <div class="col-sm-4">Mw. A. Leal- Koster</div>
                            </div>
                            <br>
                            <h5>Adventschool te Koraalspecht</h5>
                            <div class="row">
                                <div class="col-sm-3">2004- 2021.</div>
                                <div class="col-sm-4">Mw. A. Leal- Koster</div><br>
                                <div class="col-sm-3">2021- ……….</div>
                                <div class="col-sm-4">Mw. G. Daal</div>
                            </div>
                            <br>
                            <h5>Adventschool te Bonam</h5>
                            <div class="row">
                                <div class="col-sm-3">2018- ……….</div>
                                <div class="col-sm-4">Mw. S. Lucasius- Martha</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="cor-side-com">
                        <div class="ho-ev-latest-bg-3">
                            <div class="pro-user" style="border: 0px;">
                                <img src="media/EduMundial1.png" alt="user">
                            </div>
                            <div class="pro-user-bio" style="border: 0px;">
                                <ul class="pl-0">
                                    <li >Edu Adventista Mundial</li>
                                </ul>
                            </div>
                        </div>
                    </div>

                    <div class="cor-side-com" style="top: 1800px;">
                        <div class="ho-ev-latest-bg-3">
                            <div class="pro-user" style="border: 0px;">
                                <img src="media/hendrey1.jpg" alt="user">
                            </div>
                            <div class="pro-user-bio" style="border: 0px;">
                                <ul>
                                    <li>Mener Hendrey Isenia</li>
                                </ul>
                            </div>
                        </div>
                        <div class="ho-ev-latest-bg-3">
                            <div class="pro-user" style="border: 0px;">
                                <img src="media/EduMundial1.png" alt="user">
                            </div>
                            <div class="pro-user-bio" style="border: 0px;">
                                <ul>
                                    <li>Student Id: ST17241</li>
                                </ul>
                            </div>
                        </div>
                        <div class="ho-ev-latest-bg-3">
                            <div class="pro-user" style="border: 0px;">
                                <img src="media/cornelia.jpg" alt="user">
                            </div>
                            <div class="pro-user-bio" style="border: 0px;">
                                <ul>
                                    <li>Mw. M. Cornelia</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>