<section>
  <div class="container pad-bot-70" style="padding:40px 0px;">
    <div class="row" style="width: 100%;">
      <div class="col-lg-12 mb-4">
        <h3 style="margin-bottom: 35px;">Nos Kalèndar</h3>
      </div>
      <div class="col-lg-12 col-md-5 ">
        <div id="calendar"></div>
      </div>
    </div>
  </div>
</section>

<script>
  document.addEventListener('DOMContentLoaded', function () {
    var calendarEl = document.getElementById('calendar');
    var d = new Date();

    var calendar = new FullCalendar.Calendar(calendarEl, {
      headerToolbar: {
        left: 'prev,next today',
        center: 'title',
        right: 'dayGridMonth,timeGridWeek,timeGridDay,listMonth'
      },
      initialDate: d,
      navLinks: true, // can click day/week names to navigate views
      businessHours: true, // display business hours
      editable: false,
      selectable: true,
      events: [
        {
          title: 'Dia pais Kórsou',
          start: '2021-10-10',
          color: '#F7C59F'
        },
        {
          title: 'Tussenvakantie',
          start: '2021-10-4',
          end: '2021-10-8',
          color: '#2A324B'
        },
        {
          title: 'Kerstvakantie',
          start: '2021-12-20',
          end: '2022-01-05',
          color: '#257e4a'
        },
        {
          title: 'Kinderkarnaval',
          start: '2022-02-21',
          color: '#CC2936'
        },
        {
          title: 'Grote karnaval',
          start: '2022-02-28',
          end: '2022-03-04',
          color: '#EBBAB9'
        },
        {
          title: 'Paasvakantie',
          start: '2022-04-13',
          end: '2022-04-22'
        },
        {
          //groupId: 'availableForMeeting',
          title: 'Koningsdag',
          start: '2022-04-27',
          color: 'orange'
        },

        // red areas where no events can be dropped
        {
          title: 'Dag van de arbeid',
          start: '2022-05-01',
          color: '#ff9f89'
        },
        {
          title: 'Extra vrije dag',
          start: '2022-05-02',
          color: '#ff9f89'
        }
        ,
        {
          title: 'Hemelvaartsvakantie',
          start: '2022-05-26',
          end: '2022-05-27',
          color: '#ff9f89'
        },
        {
          title: 'Vlagdag',
          start: '2022-07-02',
          color: '#1A1B41'
        },
        {
          title: 'Grote vakantie',
          start: '2021-07-07',
          end: "2021-07-29",
          color: '#3E6680'
        },
        {
          title: 'Prome dia di skol',
          start: '2021-08-12',
          color: '#3E6680'
        }
      ]
    });

    calendar.render();
  });

</script>