
    <!--SECTION START-->
    <section>
        <div class="container com-sp pad-bot-70">
            <div class="row">
                <div class="cor about-sp">
                    <div class="ed-about-tit">
                        <div class="con-title">
                            <h2>Kontaktá <span> Nos</span></h2>
                        </div>
                    </div>
                    <div class="pg-contact ">
                        <div class="col-md-3 col-sm-6 col-xs-12 new-con new-con1"> <img src="media/contact/1.html" alt="">
                            <h4>Adrès</h4>
                            <p>14 Marigotweg, Willemstad, Curaçao.
                        </div>
                        <div class="col-md-3 col-sm-6 col-xs-12 new-con new-con3"> <img src="media/contact/2.html" alt="">
                            <h4>Mas Info:</h4>
                            <p> <a href="tel://59998689407" class="contact-icon">Telefon: +5999 868 9407</a>
                                <br> <a href="mailto:adventschoolbestuur@gmail.com" class="contact-icon">Email: adventschoolbestuur@gmail.com</a> </p>
                        </div>
                        <div class="col-md-3 col-sm-6 col-xs-12 new-con new-con4"> <img src="media/contact/3.html" alt="">
                            <h4>Social media</h4>
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--SECTION END-->

    <section id="map">
        <div class="row contact-map">
            <!-- IFRAME: GET YOUR LOCATION FROM GOOGLE MAP -->
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3900.406403545276!2d-68.94310628525504!3d12.152711035604593!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8e849d326cb9d9f7%3A0xf69067e41fda7e8d!2s14%20Marigotweg%2C%20Willemstad%2C%20Cura%C3%A7ao!5e0!3m2!1sen!2smx!4v1622158062913!5m2!1sen!2smx"allowfullscreen="" loading="lazy"></iframe>
            <div class="container">
                <div class="overlay-contact footer-part footer-part-form">
                    <div class="map-head">
                        <p>Pregunta?</p>
                        <h2>Manda nos</h2> <span class="footer-ser-re">bo pregunta</span> </div>
                    <!-- ENQUIRY FORM -->
                    <form id="contact_form">
                        <div class="row">
                            <div class="col-md-6 col-sm-6 col-xs-12 contact-input-spac">
                                <input type="text"  placeholder="Name" required=""> </div>
                            <div class="col-md-6 col-sm-6 col-xs-12 contact-input-spac">
                                <input type="text"  placeholder="Phone" required=""> </div>
                                <div class="col-md-6 col-sm-6 col-xs-12 contact-input-spac">
                                <input type="email"  placeholder="Email" required=""> </div>
                            
                        </div>
                        <div class="row">
                            <div class="col-md-12 col-sm-6 col-xs-12 contact-input-spac">
                                <textarea  required=""></textarea>
                            </div>
                            
                        </div>

                        <button id="sendEmail">Submiti</button>
                    </form>
                </div>
            </div>
        </div>
    </section>

    <!--SECTION START-->
    <section>
        <div class="full-bot-book">
            <div class="container">
                <div class="row">
                    <div class="bot-book">
                        
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--SECTION END-->