<section style="background: white; width: 100%; height:20vh;">
    <div class="stu-db">
        <div class="container">
            <div class="col-md-12">
                <div class="udb">
                    <div class="row">
                        <div class="con-title">
                            <h2>Tim di <span>Kuido</span></h2>
                        </div>
                    </div>
                    
                    <div class="udb-img">
                        <img src="media/timKuido.png" alt="" />
                    </div>

                    <div class="udb-prof">
                        <h4>Tim di kuido di skolnan adventista</h4>
                        <p>Awendia tin hopi skolnan ku un tim di kuido: “zorgteam”. Esaki ta e kaso serka nos tambe di
                            “adventschool”. Nos tin un tim di kuido na kada un di nos skolnan. Nos timnan di kuido tei
                            pa duna guia i kuido na prinsipalmente, nos muchanan, mayornan/ tutornan i e maestronan.
                            Den nos tim di kuido nos tin profeshonalnan ku ta traha huntu pa asina yuda resolvé e
                            diferente problemanan ku ta surgi den skol. Banda di esaki ta duna e maestronan I mayornan/
                            tutornan guia I konseho riba kon resolvé problemanan riba diferente tereno.
                        </p>
                        <p>Tin alumnonan ku tin problemanan riba diferente areanan di desaroyo. Dor di señalá I detektá
                            e problemanan aki na tempu, e tim di kuido por yuda e alumno pa e por sigui ku su
                            trayektoria eskolar mas mihó posibel. Kada alumno ku drenta nos skolnan mester sinti mihó
                            posibel. Esaki ta tambe di gran importansia den e mucha su funshonamenttu na skol. Den e
                            proseso di ayudo na nos alumnonan, ta importante pa mayornan tuma parti den esaki.
                        </p>
                        <p>E meta prinsipal di nos tim di kuido ta pa hasi kuido kana mas optimal posibel. Ta di vital
                            importansia pa pone atenshon riba e nesesidatnan I diferensianan di kada mucha individual I
                            finalmente supli esakinan.
                            Pa realisá esaki, skol mester tin un trayekto di kuido optimal.

                        </p>
                    </div>


                    <div class="udb-cour">
                        <div class="collapsible-body cor-tim-tab"
                            style="display: block; padding-top: 0px; margin-top: 0px; padding-bottom: 10px; margin-bottom: 0px;">
                            <h4>Nos timnan di kuido ta konsistí di e siguinte personanan:</h4>
                            <ul>
                                <li>Kabes di skol</li>
                                <li>Kordinadó di tim di kuido</li>
                                <li>Remedial teacher – Maestro di apoyo</li>
                                <li>Kapeñannan</li>
                                <li>Trahadó sosial di skol </li>
                            </ul>
                            <span>Nos tin tambe un konsehero, -Michnon Martis- ku ta duna ayudo na nos timnan di kuido
                                den momentunan ku e situashonnan bira kompliká.</span>
                            <h4>Assessment</h4>
                            <ul>
                                <li>Vishon: Guia e traingulo entre e tres (3) partidonan, kas – skol- alumno-, pa esaki
                                    por funshoná mas optimal posibel.</li>
                                <li>Mishon: Intermediá entre e tres (3) partidonan kaminda tin nesesidat.</li>
                                <h4>Meta</h4>
                                <ul>
                                    <li>Yuda e alumno "deal" ku su mes</li>
                                    <li>Guia pa alumno</li>
                                    <li>Guia pa meastro</li>
                                    <li>Guia pa maoyr (+ otronan involí den e kaso)</li>
                                    <li>Referí na otro instansia profeshonal si ta nesesario</li>
                                </ul>
                            </ul>
                        </div>
                    </div>
                </div>
                {{!-- lina di kuido 1--}}
                <div class="udb-sec udb-cour-stat">
                    <h4><img src="media/icon/db3.png" alt="" />Liña di kuido 1</h4>
                    <p style="font-weight:bold;">Nivel 1: Kuido general</p>
                    <div class="pro-con-table">
                        <table class="bordered responsive-table">
                            <thead>
                                <tr>
                                    <th>No</th>
                                    <th>Akshon</th>
                                    <th>Material/Pueba</th>
                                    <th>Dor di:</th>
                                </tr>
                            </thead>

                            <tbody>
                                <tr>
                                    <td>00</td>
                                    <td>Tur alumno ta haña kuido riba e mesun nivel</td>
                                    <td>Skema di opservashon / Bista general di kuido (klasikal)</td>
                                    <td>Maestro di klas</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <p style="padding-top: 20px; font-weight:bold;">Nivel 2: Ekstra Kuido den grupo</p>
                    <div class="pro-con-table">
                        <table class="bordered responsive-table">
                            <thead>
                                <tr>
                                    <th>No</th>
                                    <th>Akshon</th>
                                    <th>Material/Pueba</th>
                                    <th>Dor di:</th>
                                </tr>
                            </thead>

                            <tbody>
                                <tr>
                                    <td>01</td>
                                    <td>Siñalá alumnonan ku problemanan spesífiko
                                        Opservá alumnonan ku problemanan spesífiko
                                        Tur loke wòrdu opservá, mester keda notá.
                                    </td>
                                    <td>Skema di opservashon Map di opservashon pa kada alumno
                                    </td>
                                    <td>Maestro di klas</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                {{!-- lina di kuido 2 --}}
                <div class="udb-sec udb-cour-stat">
                    <h4><img src="media/icon/db3.png" alt="" />Liña di kuido 2</h4>
                    <p style="font-weight:bold;">Nivel 3: Mas kuido riba nivel di skol</p>
                    <div class="pro-con-table">
                        <table class="bordered responsive-table">
                            <thead>
                                <tr>
                                    <th>No</th>
                                    <th>Akshon</th>
                                    <th>Material/Pueba</th>
                                    <th>Dor di:</th>
                                </tr>
                            </thead>

                            <tbody>
                                <tr>
                                    <td>01</td>
                                    <td>Kombersashon ku mayornan tokante kuido den tim di kuido</td>
                                    <td>Formulario di kombersashon</td>
                                    <td>Maestro di klas</td>
                                </tr>
                                <tr>
                                    <td>02</td>
                                    <td>Petishon na mayornan pa registrá e alumno den tim di kuido</td>
                                    <td>Formulario di pèrmit</td>
                                    <td>Maestro di klas/ Trahado sosial</td>
                                </tr>
                                <tr>
                                    <td>03</td>
                                    <td>Suskribí e mucha na e tim di kuido: Yen aanmeldings formulier </td>
                                    <td>Formulario di Suskrishon</td>
                                    <td>Maestro di klas</td>
                                </tr>
                                <tr>
                                    <td>04</td>
                                    <td>Deliberashon di Alumno di Kuido</td>
                                    <td>Formulario di Atmishon</td>
                                    <td>Maestro di klas/ Trahado sosial</td>
                                </tr>
                                <tr>
                                    <td>05</td>
                                    <td>Palabrashon/ Deliberashon interno tokante alumno dor di e tim di kuido.
                                        Interne bespreking en overleg over het handelen met de desbetreffende
                                        zorgleerling door de zorgteam leden
                                    </td>
                                    <td>Plan di akshon</td>
                                    <td>Tim di kuido</td>
                                </tr>
                                <tr>
                                    <td>06</td>
                                    <td>Plan van aanpak
                                        Deliberashon di metanan ku ta deseá di logra en konekshon ku e nesesidat di e
                                        alumno.
                                        Doelen worden besproken die behaald wensen te worden m.b.t. de zorgbehoefte van
                                        de zorgleerling
                                        Invulling specifieke zorgbehoefte leerling;
                                        Nesesidatnan spesífiko di e mucha
                                        a) Palabrashonnan ku mayor mester wòrdu realisá.
                                        Nodige afspraken met ouders/verzorgers worden gerealiseerd;
                                        b) E alumno su dossier ta wòrdu adaptá
                                        Dossier van de leerling wordt aangemaakt;
                                        c) Lo traha un plan individual pa kada alumno
                                        Individuele handelingsplan wordt opgesteld (zie bijlagen)

                                    </td>
                                    <td>Formulario di Atmishon</td>
                                    <td>Maestro di klas/ Trahado sosial/ Mayor</td>
                                </tr>
                                <tr>
                                    <td>07</td>
                                    <td>Evaluashon
                                        Evaluashon final plan di akshon huntu ku maestro i mayor/tutor:
                                        - Begeleidingsproces wordt besproken;
                                        Deliberashon tokante proseso di guia
                                        - Aandachtspunten worden besproken
                                        om terugval te voorkomen;
                                        Para ketu na puntonan di atenshon pa
                                        asina evitá rekaída

                                    </td>
                                    <td>Formulario di evaluashon Evaluatie formulier</td>
                                    <td>Tim di kuido/ Maestro/ Mayornan</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                {{!-- lina di kuido 3 --}}
                <div class="udb-sec udb-cour-stat">
                    <h4><img src="media/icon/db3.png" alt="" />Liña di kuido 3</h4>
                    <p style="font-weight:bold;">Nivel 4: Akudi na profeshonalnan eksterno</p>
                    <div class="pro-con-table">
                        <table class="bordered responsive-table">
                            <thead>
                                <tr>
                                    <th>No</th>
                                    <th>Akshon</th>
                                    <th>Material/Pueba</th>
                                    <th>Dor di:</th>
                                </tr>
                            </thead>

                            <tbody>
                                <tr>
                                    <td>01</td>
                                    <td>Ta dependé di e palabrashonnan i konsehonan di nivel di kuido number tres (3)
                                        kua ta e siguiente stapnan ku lo tuma pa e alumno. Esakinan tur den palabrashon
                                        ku myor/ tutor.
                                        Het is afhankelijk van de bevindingen en adviezen vanuit zorgniveau 3 welke
                                        vervolgstappen gezet zullen worden voor een bepaalde leerling. Dit altijd in
                                        overleg met ouders.
                                    </td>
                                    <td>Formulario di inskripshon eksterno<br>
                                        Externe aanmeldingsformulier
                                    </td>
                                    <td>Tim di kuido</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
</section>