body,
html {
  width: 100%;
  height: 100%;
  margin: 0;
  display: table;
}
.h {
  height: 100%;
}
.bBox {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.bBox h1 {
  font-size: 70px;
  text-transform: uppercase;
  font-weight: 600;
  color: white;
}

.bBox h2 {
  font-size: 50px;
  text-transform: uppercase;
  font-weight: 500;
  color: white;
}

.bBini {
  height: 65vh;
}

.headerImg {
  height: 90vh;
  width: 100%;
  background: url(/media/bonam/Welcome.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
}

.headerImg-con {
  position: absolute;
  padding-left: 150px;
  padding-top: 110px;
}

.headerImg-con h2 {
  font-size: 60px;
  text-transform: uppercase;
  line-height: 50px;
  color: #851313;
  font-weight: 800;
  background: white;
  padding: 15px;
  animation: slideIn 2s ease-in-out;
}
.headerImg-con span {
  font-size: 40px;
  text-transform: uppercase;
  font-weight: 700;
  line-height: 28px;
  color: white;
  background: #851313;
  padding: 8px;
  animation: slideZoom 3s ease-in-out;
}
.headerImg-con a {
  /* color: #fff;
  */
  padding: 14px 45px;
  line-height: 45px;
  border-radius: 3px;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 14px;
  height: 45px;
  text-align: center;
  margin: 0px 10px;
}
/* bon bini section */
.bonCont {
  height: 50vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.bonCont h5 {
  font-size: 35px;
  text-align: right;
  font-weight: 600;
}

.bonCont h6 {
  text-align: right;
  font-size: 20px;
}
/* mas info */
.mas-info {
  width: 100%;
  height: 100vh;
}

.mas-title {
  position: absolute;
  width: 30%;
  height: 200px;
  left: 540px;
  margin-top: 50px;
}

.mas-title h2 {
  font-size: 36px;
  margin-bottom: 15px;
  line-height: 40px;
}

.mas-title h2 span {
  font-size: 36px;
  font-weight: 700;
  color: #851313;
  line-height: 40px;
}

.mas-box {
  position: absolute;
  width: 87%;
  height: 500px;
  margin-top: 100px;
  left: 130px;
}

.mas-box-content {
  position: relative;
  width: 22%;
  top: 90px;
  cursor: pointer;
}
.mas-box-content1 {
  position: relative;
  width: 22%;
  top: 20px;
  left: 190px;
  z-index: 1;
}
.mas-box-content2 {
  position: relative;
  width: 22%;
  top: -40px;
  left: 388px;
}

.mas-img {
  position: relative;
  width: 0;
  top: -58px;
  height: 0;
  left: 860px;
}

.mas-img img {
  height: 800px;
}

/* mas info section1 */
.reglaS {
  width: 100%;
  height: 70vh;
  padding-top: 80px;
  background: #f5f5f5;
}

.regla-box {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
@media screen and (max-width: 786px) {
  .regla-box {
    height: 50%;
  }
}

.reglaS h2 {
  font-size: 36px;
  margin-top: 0px;
  margin-bottom: 15px;
  line-height: 40px;
}

.reglaS h2 span {
  font-size: 36px;
  font-weight: 700;
  color: #851313;
  line-height: 40px;
}

.reglaButton {
  width: 20%;
  height: 12%;
  background: #002147;
}
@media all and (max-width: 786px) {
  .reglaButton {
    width: 26%;
    height: 14%;
  }
}
.reglaButton .reglaBT {
  position: relative;
  padding-left: 23%;
  top: 20%;
  text-decoration: none;
  font-size: 20px;
  color: #ffffff;
  cursor: pointer;
}
@media all and (max-width: 786px) {
  .reglaButton .reglaBT {
    padding-left: 30%;
    font-size: 15px;
  }
}
.reglaButton:hover {
  transform: scale(1.1);
}

.pad-t {
  padding-top: 30px;
}

.modalR {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 5000;
}
.modalR .modal-contentR {
  margin: 10% auto;
  width: 60%;
  animation-name: modalopen;
  animation-duration: 1s;
}

.modalR .modal-contentR .modal-headerR {
  background: #851313;
  padding: 0px;
  color: #fff;
  left: 50px;
  top: 25px;
  box-shadow: 0px 4px 11px rgba(0, 0, 0, 0.5);
}

.modalR .modal-contentR .modal-headerR .modal-headerTR {
  position: relative;
  margin: 0px;
  font-size: 23px;
  font-weight: 400;
  padding: 20px;
  display: flex;
  justify-content: center;
}

.modalR .modal-contentR .modal-headerR .closeBtnR {
  position: absolute;
  color: #ccc;
  float: left;
  font-size: 30px;
  color: #fff;
  cursor: pointer;
  left: 95%;
  top: 5px;
}

.modalR .modal-contentR .modal-headerR:hover {
  background: #e67693;
}

.modalR .modal-contentR .modal-bodyR {
  padding: 50px 20px;
  background: #fff;
}

.modalR .modal-contentR .modal-bodyR .modal-titleR {
  position: relative;
  margin: 0px;
  font-size: 23px;
  font-weight: 400;
  padding: 20px;
  display: flex;
  justify-content: center;
  color: black;
}

.modalR .modal-contentR .modal-bodyR .modal-textR {
  position: relative;
  margin: 0px;
  font-size: 15px;
  font-weight: 400;
  padding: 20px;
  display: flex;
  justify-content: center;
  text-align: center;
  color: black;
}

.miVi {
  width: 100%;
  height: 40vh;
  background: #002147;
}

.miVi-top-cour1 {
  background: white;
  height: 190px;
  width: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.miVi-top-cour1 img {
  height: 100px;
}

.miVi-top-cour1 h2 {
  color: #000000;
}
.miVi-top-cour1 h3 {
  color: #000000;
  font-size: 20px;
}
.miVi-top-cour1:hover {
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  animation-name: example;
  animation-duration: 0.25s;
  border-left: 8px solid #851313;
  box-shadow: 0 14px 28px rgba(255, 255, 255, 0.1),
    0 10px 10px rgba(0, 0, 0, 0.22);
}

.miVi-top-cour2 {
  background: white;
  height: 190px;
  width: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.miVi-top-cour2:hover {
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  animation-name: example;
  animation-duration: 0.25s;
  border-left: 8px solid #851313;
  box-shadow: 0 14px 28px rgba(255, 255, 255, 0.1),
    0 10px 10px rgba(0, 0, 0, 0.22);
}
.miVi-top-cour2 img {
  height: 100px;
}

.miVi-top-cour2 h2 {
  color: #000000;
}
.miVi-top-cour2 h3 {
  color: #000000;
  font-size: 20px;
}

.pt-50 {
  padding-top: 50px;
}

/* historia */

.maestroN {
  height: 80vh;
  width: 100%;
  padding-top: 70px;
}
.pro-coverH {
  background: url(../../media/bonamHist.jpg) no-repeat center center;
  width: 100%;
  height: 250px;
  display: block;
  background-size: cover;
}

.pro-menuH {
  height: 20px;
  background: #002147;
  box-shadow: 0px 4px 10px hsla(0, 0%, 0%, 0.08);
  position: relative;
  z-index: 2;
}

.ptB {
  padding-top: 70px;
  padding-bottom: 50px;
}

.ptB h2 {
  font-size: 36px;
  margin-top: 0px;
  margin-bottom: 15px;
  line-height: 40px;
}

.ptB h2 span {
  font-size: 36px;
  font-weight: 700;
  color: #851313;
  line-height: 40px;
}

.pro-userB {
  position: relative;
  border-bottom: 0px;
  z-index: 9;
}
.pro-userB img {
  width: 80%;
}

.pt-1 {
  padding-top: 10px;
}

.infoBar {
  height: 30vh;
  width: 100%;
}

.info1 {
  background: #af476a;
  height: 30vh;
  width: 33.33%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.info2 {
  background: #b15573;
  height: 30vh;
  width: 33.33%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.info3 {
  background: #b16b83;
  height: 30vh;
  width: 33.33%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.tInfoK .tInfoIK {
  width: 100%;
  height: 30vh;
  padding-top: 50px;
}
.tInfoK .tInfoIK .tInfoISectionK {
  width: 100%;
  height: 100%;
}
.tInfoK .tInfoIK .tInfoISectionK .tInfoI-contentK {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  height: 100%;
}
.tInfoK .tInfoIK .tInfoISectionK .tInfoI-contentK .tInfoI-boxK {
  background: #af476a;
  display: flex;
  justify-content: center;
  align-items: center;
}
.tInfoK
  .tInfoIK
  .tInfoISectionK
  .tInfoI-contentK
  .tInfoI-boxK
  .tInfoI-boxContK {
  width: 60%;
  display: flex;
  flex-direction: row;
}
.tInfoK
  .tInfoIK
  .tInfoISectionK
  .tInfoI-contentK
  .tInfoI-boxK
  .tInfoI-boxContK
  .tInfoImgK {
  height: 5em;
  opacity: 0.5;
}
.tInfoK
  .tInfoIK
  .tInfoISectionK
  .tInfoI-contentK
  .tInfoI-boxK
  .tInfoI-boxContK
  .tInfoITextBK {
  display: flex;
  flex-direction: column;
  width: 60%;
  margin-left: 5%;
}
.tInfoK
  .tInfoIK
  .tInfoISectionK
  .tInfoI-contentK
  .tInfoI-boxK
  .tInfoI-boxContK
  .tInfoITextBK
  .tInfoITextK {
  font-weight: 500;
  font-size: 20px;
  line-height: 37px;
  color: #ffffff;
  padding: 3%;
  text-transform: capitalize;
}
.tInfoK
  .tInfoIK
  .tInfoISectionK
  .tInfoI-contentK
  .tInfoI-boxK
  .tInfoI-boxContK
  .tInfoITextBK
  .tInfoIText2K {
  font-weight: 600;
  font-size: 20px;
  color: #ffffff;
  padding-left: 3%;
}
.tInfoK .tInfoIK .tInfoISectionK .tInfoI-contentK .tInfoI-box1K {
  background: rgb(197, 113, 136);
  display: flex;
  justify-content: center;
  align-items: center;
}
.tInfoK
  .tInfoIK
  .tInfoISectionK
  .tInfoI-contentK
  .tInfoI-box1K
  .tInfoI-boxContK {
  width: 60%;
  display: flex;
  flex-direction: row;
}
.tInfoK
  .tInfoIK
  .tInfoISectionK
  .tInfoI-contentK
  .tInfoI-box1K
  .tInfoI-boxContK
  .tInfoImgK {
  height: 5em;
  opacity: 0.5;
}
.tInfoK
  .tInfoIK
  .tInfoISectionK
  .tInfoI-contentK
  .tInfoI-box1K
  .tInfoI-boxContK
  .tInfoITextBK {
  display: flex;
  flex-direction: column;
  width: 60%;
  margin-left: 5%;
}
.tInfoK
  .tInfoIK
  .tInfoISectionK
  .tInfoI-contentK
  .tInfoI-box1K
  .tInfoI-boxContK
  .tInfoITextBK
  .tInfoITextK {
  font-weight: 500;
  font-size: 20px;
  line-height: 37px;
  color: #ffffff;
  padding: 3%;
  text-transform: capitalize;
}
.tInfoK
  .tInfoIK
  .tInfoISectionK
  .tInfoI-contentK
  .tInfoI-box1K
  .tInfoI-boxContK
  .tInfoITextBK
  .tInfoIText2K {
  font-weight: 600;
  font-size: 20px;
  color: #ffffff;
  padding-left: 3%;
}
.tInfoK .tInfoIK .tInfoISectionK .tInfoI-contentK .tInfoI-box2K {
  background: #ac5874;
  display: flex;
  justify-content: center;
  align-items: center;
}
.tInfoK
  .tInfoIK
  .tInfoISectionK
  .tInfoI-contentK
  .tInfoI-box2K
  .tInfoI-boxContK {
  width: 60%;
  display: flex;
  flex-direction: row;
}
.tInfoK
  .tInfoIK
  .tInfoISectionK
  .tInfoI-contentK
  .tInfoI-box2K
  .tInfoI-boxContK
  .tInfoImgK {
  height: 5em;
  opacity: 0.5;
}
.tInfoK
  .tInfoIK
  .tInfoISectionK
  .tInfoI-contentK
  .tInfoI-box2K
  .tInfoI-boxContK
  .tInfoITextBK {
  display: flex;
  flex-direction: column;
  width: 60%;
  margin-left: 5%;
}
.tInfoK
  .tInfoIK
  .tInfoISectionK
  .tInfoI-contentK
  .tInfoI-box2K
  .tInfoI-boxContK
  .tInfoITextBK
  .tInfoITextK {
  font-weight: 500;
  font-size: 20px;
  line-height: 37px;
  color: #ffffff;
  padding: 3%;
  text-transform: capitalize;
}
.tInfoK
  .tInfoIK
  .tInfoISectionK
  .tInfoI-contentK
  .tInfoI-box2K
  .tInfoI-boxContK
  .tInfoITextBK
  .tInfoIText2K {
  font-weight: 600;
  font-size: 20px;
  color: #ffffff;
  padding-left: 3%;
}

.regSect {
  position: relative;
  top: -22px;
  width: 100%;
  height: 60vh;
  background: url(/media/bonam/regback.jpg);

  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.reg-content {
  height: 40vh;
  width: 45%;
  color: #fff;
}

.reg-content p {
  color: #fff;
  line-height: 25px;
  letter-spacing: 0.02em;
  font-size: 18px;
}

.reg-content a {
  background: #ffffff;
  color: #851313;
  padding: 15px 30px;
  position: relative;
  top: 25px;
}

.reg-content a:hover {
  background: #851313;
  color: #ffffff;
}

@keyframes shake {
  from {
    transform: rotate(1deg);
    transform-origin: right;
  }
  to {
    transform: rotate(-1deg);
    transform-origin: left;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes slideIn {
  0% {
    opacity: 0;
    transform: translateX(-500px);
  }
  70% {
    transform: translateX(10px);
  }
  80% {
    transform: translateX(-10px);
  }
  90% {
    transform: translateX(0px);
  }
  100% {
    transform: skew(0);
  }
}

@keyframes slideDown {
  0% {
    opacity: 0;
    transform: translateY(-500px);
  }
  70% {
    transform: translateY(10px);
  }
  80% {
    transform: translateY(-10px);
  }
  90% {
    transform: translateY(0px);
  }
  100% {
    transform: skew(0);
  }
}

@keyframes slideZoom {
  0% {
    opacity: 0;
    transform: scale(-1.5);
  }
  25% {
    transform: scale(-1.3);
  }
  50% {
    transform: scale(1.3);
  }
  75% {
    transform: scale(1.4);
  }
  100% {
    transform: scaleZ(1.5);
  }
}
