<!DOCTYPE html>
<html>

<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Studiante</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' href='/vendor/bootstrap/css/bootstrap.min.css'>
    <script src="https://kit.fontawesome.com/14fac1d4b2.js" crossorigin="anonymous"></script>
    <link href='https://unpkg.com/boxicons@2.0.9/css/boxicons.min.css' rel='stylesheet'>
    <link rel='stylesheet' href='/css/portal/style.css'>
    <link rel='stylesheet' href='/css/portal/admin/klas.css'>

</head>

<body>
    {{!-- navbar --}}
   <nav id="navbar">
    <div class="row rowW">
        <div class="nav-img">
            <a href=""><img src="media/logoDash.png" alt=""></a>
        </div>
        <div class="nav-drop">
            <div class="nav-dropdown">
                <img src="media/admin-logo.png" alt="">
                <span>Admin</span>
                <i class="fas fa-angle-down"></i>
                <div class="nav-dropdown-content">
                    <a href="#"><i class="fas fa-user"></i>Profile</a>
                    <a href="/loginMaestro"><i class="fas fa-sign-out-alt"></i>Logout</a>
                </div>
            </div>
        </div>
    </div>
</nav>
{{!-- sidebar --}}
<div class="sidebar">
    <div class="logo-details">
        <img src="media/admin-logo.png" class="icon">
        <div class="logo_name">Admin</div>
        <i class="fas fa-bars" id="btn"></i>
    </div>
    <ul class="nav-list">
      <li>
        <a href="/admin-home">
          <i class='bx bxs-home'></i>
          <span class="links_name">Home</span>
        </a>
         <span class="tooltip">Home</span>
      </li>
      <li>
       <a href="/admin-maestro">
         <i class='bx bx-user' ></i>
         <span class="links_name">Maestro</span>
       </a>
       <span class="tooltip">Maestro</span>
     </li>
     <li>
       <a href="/admin-studiante">
         <i class='bx bxs-graduation'></i>
         <span class="links_name">Studiante</span>
       </a>
       <span class="tooltip">Studiante</span>
     </li>
     <li>
       <a href="/admin-klas">
         <i class='bx bxs-school' ></i>
         <span class="links_name">Klasnan</span>
       </a>
       <span class="tooltip">Klasnan</span>
     </li>
    </ul>
  </div>
 {{!-- content --}}
<div class="dash-maestro">
    <div class="dash-headerM">
    <h4>Klas</h4>
    <h6>Bestuur > portal > klas</h6>
</div>
    <div class="klas-content">
        <div class="row">
            <div class="klas-box boxklas">
                <h4>Grupo</h4>
                <h6>1</h6>
            </div>
            <div class="klas-box1 boxklas">
                <h4>Grupo</h4>
                <h6>2</h6>
            </div>
            <div class="klas-box2 boxklas">
                <h4>Grupo</h4>
                <h6>3</h6>
            </div>
            <div class="klas-box boxklas">
                <h4>Grupo</h4>
                <h6>4</h6>
            </div>
            <div class="klas-box1 boxklas">
                <h4>Grupo</h4>
                <h6>5</h6>
            </div>
            <div class="klas-box2 boxklas">
                <h4>Grupo</h4>
                <h6>6</h6>
            </div>
            <div class="klas-box boxklas">
                <h4>Grupo</h4>
                <h6>7</h6>
            </div>
            <div class="klas-box1 boxklas">
                <h4>Grupo</h4>
                <h6>8</h6>
            </div>
        </div>
    </div>
    <div class="klas-content" style="margin-top: 20px;">
        <div class="box-inn-sp">
                <div class="inn-title" style="display: flex;">
                    <h4>Yuf &nbsp;</h4><h4>Sarita</h4>
                </div>
                <div class="tab-inn">
                    <div class="table-responsive table-desi">
                        <table class="table table-hover">
                            <thead>
                                <tr>
                                    <th>Image</th>
                                    <th>Nomber</th>
                                    <th>Fam</th>
                                    <th>Telefòn</th>
                                    <th>Email</th>
                                    <th>Adrès</th>
                                    <th>Fecha nasimentu</th>
                                    <th>Delete</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td><span class="list-img"><img src="images/user/1.png" alt=""></span>
                                    </td>
                                    <td>martina</td>
                                    <td>+01 3214 6522</td>
                                    <td>chadengle@dummy.com</td>
                                    <td>united states</td>
                                    <td>ST17241</td>
                                    <td>03 Jun 1990</td>
                                    <td><a href="admin-student-details.html" class="table-delete">Delete</a></td>
                                </tr>
                                <tr>
                                    <td><span class="list-img"><img src="images/user/1.png" alt=""></span>
                                    </td>
                                    <td>martina</td>
                                    <td>+01 3214 6522</td>
                                    <td>chadengle@dummy.com</td>
                                    <td>united states</td>
                                    <td>ST17241</td>
                                    <td>03 Jun 1990</td>
                                    <td><a href="admin-student-details.html" class="table-delete">Delete</a></td>
                                </tr>
                                <tr>
                                    <td><span class="list-img"><img src="images/user/1.png" alt=""></span>
                                    </td>
                                    <td>martina</td>
                                    <td>+01 3214 6522</td>
                                    <td>chadengle@dummy.com</td>
                                    <td>united states</td>
                                    <td>ST17241</td>
                                    <td>03 Jun 1990</td>
                                    <td><a href="admin-student-details.html" class="table-delete">Delete</a></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
    </div>
</div>
</body>

<script src="vendor/jquery/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/2.9.2/umd/popper.min.js"></script>
<script src="vendor/bootstrap/js/bootstrap.min.js"></script>
<script src="js/portal/general.js"></script>

</html>
