<!DOCTYPE html>
<html>

<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Maestron Individual</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' href='/vendor/bootstrap/css/bootstrap.min.css'>
    <link rel='stylesheet' href="https://cdn.datatables.net/responsive/2.2.7/css/responsive.dataTables.min.css">
    <script src="https://kit.fontawesome.com/14fac1d4b2.js" crossorigin="anonymous"></script>
    <link href='https://unpkg.com/boxicons@2.0.9/css/boxicons.min.css' rel='stylesheet'>
    <link rel='stylesheet' href='/css/portal/style.css'>
    <link rel='stylesheet' href='/css/portal/admin/mIndi.css'>

</head>

<body>
    {{!-- navbar --}}
    <nav id="navbar">
        <div class="row rowW">
            <div class="nav-img">
                <a href=""><img src="media/logoDash.png" alt=""></a>
            </div>
            <div class="nav-drop">
                <div class="nav-dropdown">
                    <img src="media/maricruz1.jpg" alt="">
                    <span>Maricruz</span>
                    <i class="fas fa-angle-down"></i>
                    <div class="nav-dropdown-content">
                        <a href="#"><i class="fas fa-user"></i>Profile</a>
                        <a href="/loginMaestro"><i class="fas fa-sign-out-alt"></i>Logout</a>
                    </div>
                </div>
            </div>
        </div>
    </nav>
    {{!-- sidebar --}}
<div class="sidebar">
    <div class="logo-details">
        <img src="media/admin-logo.png" class="icon">
        <div class="logo_name">Admin</div>
        <i class="fas fa-bars" id="btn"></i>
    </div>
    <ul class="nav-list">
      <li>
        <a href="/admin-home">
          <i class='bx bxs-home'></i>
          <span class="links_name">Home</span>
        </a>
         <span class="tooltip">Home</span>
      </li>
      <li>
       <a href="/admin-maestro">
         <i class='bx bx-user' ></i>
         <span class="links_name">Maestro</span>
       </a>
       <span class="tooltip">Maestro</span>
     </li>
     <li>
       <a href="/admin-studiante">
         <i class='bx bxs-graduation'></i>
         <span class="links_name">Studiante</span>
       </a>
       <span class="tooltip">Studiante</span>
     </li>
     <li>
       <a href="/admin-klas">
         <i class='bx bxs-school' ></i>
         <span class="links_name">Klasnan</span>
       </a>
       <span class="tooltip">Klasnan</span>
     </li>
    </ul>
  </div>
    {{!-- content --}}
    <div class="dash-welcome">
        <div class="dash-header">
            <h4>Profile </h4>
            <h6>Bestuur > portal > profile</h6>
        </div>
        <div class="maestro-header">
            <div class="maestro-Img">
                <img src="media/maricruz.jpg" alt="">
            </div>
            <div class="maestro-title">
                <h3 id="mName">Maricruz Fariz</h3>
                <p>Grupo <span id="mGroup"></span> </p>
            </div>
            <div class="maestro-date">

                <input class="modal-btn" type="checkbox" id="modal-btn" name="modal-btn"/>
      	<label for="modal-btn" title="Add Studnt"><i class="fas fa-plus"></i> Add </label> 		
      	<div class="modal">		
	      	<div class="modal-wrap">	
				<div class="modal-header">
                    <h6>Agrega Studiante</h6>
                </div>	
                <p class="modalP">Agrega studante na un maestro, pronto lo bo por agrega mas ku un studiante.</p>
                <div id="modal-content pl-4">
                    <div class="row pl-4 pt-3">
                      <div class="col-lg-3">
                          <label class="label-add">Maestro</label>
                          <input type="text" id="" disabled class="add-input">
                      </div>
                      <div class="col-lg-3 ml-5" >
                          <label class="label-add">Studiante</label>
                          <select id="">
                              <option value="" disabled selected>Select student</option>
                              <option value="" >test</option>
                              <option value="" >test1</option>
                              <option value="" >test</option>
                              <option value="" >test1</option>
                              <option value="" >test</option>
                              <option value="" >test1</option>
                          </select>
                      </div>
                      {{!-- <div class="col-lg-3 ml-4 d-flex align-items-end" >
                         <div class="add-row" id="add-row"><i class="fas fa-plus"></i></div>
                      </div> --}}
                  </div>    
                </div>
	      		      		
	      	</div>			          		
      	</div>	
                
                {{!-- <h6>Last Update: 20 may 2021</h6> --}}
                {{!-- <input title="Add student" class="modal-btn" type="checkbox" id="modal-btn"><label for="modal-btn">Open Modal <i class="uil uil-expand-arrows"></i></label> 	</input> --}}
            {{!-- class="add-button" <i class="fas fa-plus"></i>Add  --}}
            </div>
        </div>
        <div class="maestro-content p-4">
            <div class="box-inn-sp">
                <div class="inn-title">
                    <h4>Studiante</h4>
                </div>
                <div class="tab-inn pb-2">
                    <div class="table-responsive table-desi">
                        <table class="table table-hover table-search" id="tableStudent"> 
                            <thead>
                                <tr>
                                    <th>Image</th>
                                    <th>Nomber</th>
                                    <th>Fam</th>
                                    <th>Telefòn</th>
                                    <th>Email</th>
                                    <th>Adrès</th>
                                    <th>Fecha nasimentu</th>
                                    <th>Klas</th>
                                    <th>Delete</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td><span class="list-img"><img src="images/user/1.png" alt=""></span>
                                    </td>
                                    <td>martina</td>
                                    <td>+01 3214 6522</td>
                                    <td>chadengle@dummy.com</td>
                                    <td>united states</td>
                                    <td>ST17241</td>
                                    <td>03 Jun 1990</td>
                                    <td>Grupo 2</td>
                                    <td><a href="admin-student-details.html" class="table-delete">Delete</a></td>
                                </tr>
                                <tr>
                                    <td><span class="list-img"><img src="images/user/1.png" alt=""></span>
                                    </td>
                                    <td>martina</td>
                                    <td>+01 3214 6522</td>
                                    <td>chadengle@dummy.com</td>
                                    <td>united states</td>
                                    <td>ST17241</td>
                                    <td>03 Jun 1990</td>
                                    <td>Grupo 2</td>
                                    <td><a href="admin-student-details.html" class="table-delete">Delete</a></td>
                                </tr>
                                <tr>
                                    <td><span class="list-img"><img src="images/user/1.png" alt=""></span>
                                    </td>
                                    <td>martina</td>
                                    <td>+01 3214 6522</td>
                                    <td>chadengle@dummy.com</td>
                                    <td>united states</td>
                                    <td>ST17241</td>
                                    <td>03 Jun 1990</td>
                                    <td>Grupo 2</td>
                                    <td><a href="admin-student-details.html" class="table-delete">Delete</a></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>			          		
      	</div>
</body>



<script src="vendor/jquery/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/2.9.2/umd/popper.min.js"></script>
<script src="vendor/bootstrap/js/bootstrap.min.js"></script>
<script src="https://cdn.datatables.net/1.10.24/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/responsive/2.2.7/js/dataTables.responsive.min.js"></script>
<script src="https://cdn.datatables.net/1.10.23/js/dataTables.bootstrap4.min.js"></script>
<script src="js/portal/general.js"></script>
<script src="js/portal/admin/admin-mIndividual.js"></script>

</html>