<!-- Header -->
<section>
   <div class="header_background">
        <div class="h_b_content">
            <div class="first_text">
                <div class="f_text">Edukashon ku kalidad</div> 
            </div>
            <div class="second_text">Edukashon Adventista</div>
            <div class="third_text">Sirbiendo nos komunidad</div>
        </div>
   </div>
</section>

<!-- Diskbri mas -->
<section>
    <div class="container com-sp pad-bot-70">
        <div class="row d-flex justify-content-center">
            <div class="con-title">  
                <p>Join nos den pa sa mas
                </p>
                <h2>Bon Bini na e <span>futuro</span> di nos <span>muchanan</span></h2>
              
            </div>
        </div>
        <div class="row">
            <div class="ed-course d-flex justify-content-center">
                <div class="col-md-3 col-sm-4 col-xs-12" style="margin-left: 150px;">
                    <div class="ed-course-in">
                        <a class="course-overlay" href="/akademia">
                            <img src="media/diskubri/disk-akademia.jpg" alt="">
                            <span>Akademika</span>
                        </a>
                    </div>
                </div>
                <div class="col-md-3 col-sm-4 col-xs-12">
                    <div class="ed-course-in">
                        <a class="course-overlay" href="/maestro">
                            <img src="media/maestroHome.jpg" alt="">
                            <span>Maestronan</span>
                        </a>
                    </div>
                </div>
                <div class="col-md-3 col-sm-4 col-xs-12">
                    <div class="ed-course-in">
                        <a class="course-overlay" href="/teamKuido">
                            <img src="media/diskubri/disk-kuido.jpg" alt="">
                            <span>Tim di kuido</span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="ed-course">
                <div class="col-md-3 col-sm-4 col-xs-12" style="margin-left: 150px;">
                    <div class="ed-course-in">
                        <a class="course-overlay" href="/amigunanSkol">
                            <img src="media/diskubri/disk-aa.jpg" alt="">
                            <span>Amigunan Adventista</span>
                        </a>
                    </div>
                </div>
                <div class="col-md-3 col-sm-4 col-xs-12">
                    <div class="ed-course-in">
                        <a class="course-overlay" href="/historia">
                            <img src="media/diskubri/disk-historia.jpg" alt="">
                            <span>Nos Historia</span>
                        </a>
                    </div>
                </div>
                <div class="col-md-3 col-sm-4 col-xs-12">
                    <div class="ed-course-in">
                        <a class="course-overlay" href="https://adventisteducation.org/" target="_blank">
                            <img src="media/diskubri/disk-eduAd.jpg" alt="">
                            <span>Edukashon Adventista</span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- mishon vishon -->
<section class="pop-cour">
    <div class="container com-sp pad-bot-70">
        <div class="row">
            <div class="con-title">
                <h2>Ken nos <span>ta?</span></h2>
            </div>
        </div>
        <div class="row">
            <div class="con-title">
                <p>E iglesia Adventista di shete dia ta rekonosé Dios komo e último fuente di eksistensia, bèrdat, i
                    poder. Na prinsipio Dios a krea un humanidat pèrfekto segun Su imagen, un perfekshon ku mas lat a
                    wòrdu dañá pa piká. Edukashon den su amplio sentido ta un método pa trese humanidat bèk na nan
                    relashon original ku Dios. E karakterístikanan distinto di e punto di bista di e mundu di e
                    Adventista, trahá rondo di kreashon, e kaida, redenshon, i re- kreashon, ta derivá for di Beibel i e
                    skrituranan inspirá di Ellen G. White.
                    E meta di edukashon bèrdadero ta pa restorá sernan humano den e imagen di Dios, manera el a wòrdu
                    revelá pa medio di e bida di Kristu-Hesus. Solamente pa medio di e guiansa di e Spiritu Santu esaki
                    por wòrdu kumplí. Un edukashon di e manera aki ta transmití mas ku konosementu akadémiko. E ta nutri
                    un desaroyo balansá di e persona kompletu spiritualmente, físikamente, intelektualmente, i sosial
                    emoshonal, esei ta un proseso ku ta keda ekstendé pa bida largu. Trahando huntu, kas, skol, i
                    iglesia ta koperá ku e Agentenan divino pa prepará e studiantenan pa ta bon suidadanonan den e mundu
                    aki i pa etèrnidat.</p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div>
                    <div class="home-top-cour">
                        <div class="col-md-3"> <img src="media/course/objetivo.png" alt=""> </div>
                        <div class="col-md-8 home-top-cour-desc">
                            <h2>Mishon</h2>
                            <h3>Trahando pa forma suidadanonan pa e tera aki i esun selestial.</h4>
                        </div>
                    </div>
                    <hr>
                </div>
            </div>
            <div class="col-md-6">
                <div>
                    <div class="home-top-cour">
                        <div class="col-md-3"> <img src="media/course/binocular.png" alt=""> </div>
                        <div class="col-md-9 home-top-cour-desc">
                            <h2>Vishon</h3>
                                <h6>Pa kada studiante por sobresalí den fe, siñansa i sèrvisio, mesklando e berdat
                                    bibliko i logronan akadémiko pa duna honra na Dios i bendishoná otronan.</h4>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</section>


{{!-- video autoplay="autoplay"--}}
<header>
    <div class="overlay"></div>
    <video playsinline="playsinline"  loop="loop">
        <source src="media/videos/ASA.mp4" type="video/mp4">
    </video>
</header>

<!-- Counter -->
<section id="counts" class="counts">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-6">
                <div class="count-box">
                    <i class="fas fa-school"></i>
                    <span data-toggle="counter-up">15</span>
                    <p>Skol</p>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 mt-5 mt-md-0">
                <div class="count-box">
                    <i class="fas fa-user-graduate"></i>
                    <span data-toggle="counter-up">700</span>
                    <p>Alumno</p>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 mt-5 mt-lg-0">
                <div class="count-box">
                    <i class="fas fa-chalkboard-teacher"></i>
                    <span data-toggle="counter-up">40</span>
                    <p>Maestro</p>
                </div>
            </div>
        </div>

    </div>
</section>

<!-- Skolnan -->
<section id="skolnan">
    <div class="container com-sp pad-bot-0">
        <div class="row">
            <div class="con-title">
                <h2>Nos <span>Skolnan</span></h2>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="ed-course-in">
                    <a class="course-overlay" href="/bonam">
                        <img src="media/bonamHome.jpg" alt="">
                        <span>Bonam</span>
                    </a>
                </div>
            </div>
            <div class="col-md-4">
                <div class="ed-course-in">
                    <a class="course-overlay" href="/koralspecht">
                        <img src="media/koralHome.jpg" alt="">
                        <span>Koralspecht</span>
                    </a>
                </div>
            </div>
            <div class="col-md-4">
                <div class="ed-course-in">
                    <a class="course-overlay" href="/mahuma">
                        <img src="media/mahumaHome.jpg" alt="">
                        <span>Mahuma-Zuid</span>
                    </a>
                </div>
            </div>

        </div>
    </div>
</section>

<!-- NEWS AND EVENTS -->
<section>
    <div class="container com-sp">
        <div class="row">
            <div class="con-title">
                <h2>Notisia I <span>Eventonan</span></h2>
                <p>Den e sekshon aki lo bo por haña diferente notisianan, potrètnan i tambe evento nan ku lo bai ta tumando luga
                    den e siguiente siman i lunanan.</p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="bot-gal h-gal ho-event-mob-bot-sp">
                    <h4>Potrèt</h4>
                    <ul>
                        <li><img class="materialboxed" data-caption="Education master image captions"
                                src="media/ami/g-1.jpg" alt="">
                        </li>
                        <li><img class="materialboxed" data-caption="Education master image captions"
                                src="media/ami/g-2.jpg" alt="">
                        </li>
                        <li><img class="materialboxed" data-caption="Education master image captions"
                                src="media/ami/g-3.jpg" alt="">
                        </li>
                        <li><img class="materialboxed" data-caption="Education master image captions"
                                src="media/ami/g-4.jpg" alt="">
                        </li>
                        <li><img class="materialboxed" data-caption="Education master image captions"
                                src="media/ami/g-5.jpg" alt="">
                        </li>
                        <li><img class="materialboxed" data-caption="Education master image captions"
                                src="media/ami/g-6.jpg" alt="">
                        </li>
                        <li><img class="materialboxed" data-caption="Education master image captions"
                                src="media/ami/g-7.jpg" alt="">
                        </li>
                        <li><img class="materialboxed" data-caption="Education master image captions"
                                src="media/ami/g-8.jpg" alt="">
                        </li>
                        <li><img class="materialboxed" data-caption="Education master image captions"
                                src="media/ami/g-9.jpg" alt="">
                        </li>
                        <li><img class="materialboxed" data-caption="Education master image captions"
                                src="media/ami/g-10.jpg" alt="">
                        </li>
                        <li><img class="materialboxed" data-caption="Education master image captions"
                                src="media/ami/g-11.jpg" alt="">
                        </li>
                        <li><img class="materialboxed" data-caption="Education master image captions"
                                src="media/ami/g-12.jpg" alt="">
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-md-4">
                <div class="bot-gal h-vid ho-event-mob-bot-sp">
                    <h4>Video</h4>
                    <h5>Adventschool bestuur</h5>
                    {{!-- <iframe src="https://www.youtube.com/watch?v=kWLLYokos7Q"
                        allowfullscreen></iframe> --}}
                        <iframe src="https://www.youtube.com/embed/kWLLYokos7Q" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                    {{!-- <p>Maecenas finibus neque a tellus auctor mattis. Aliquam tempor varius ornare. Maecenas
                        dignissim leo leo, nec posuere purus finibus vitae.</p> --}}
                    {{!-- <p>Quisque vitae neque at tellus malesuada convallis. Phasellus in lectus vitae ex euismod
                        interdum non a lorem. Nulla bibendum. Curabitur mi odio, tempus quis risus cursus.</p> --}}
                </div>
            </div>
            <div class="col-md-4">
                <div class="bot-gal h-blog ho-event">
                    <h4>Notisia & Eventonan</h4>
                    <div class="ho-event">
                        <ul>
                            <li>
                                <div class="ho-ev-date"><span>12</span><span>aug,2021</span>
                                </div>
                                <div class="ho-ev-link">
                                    <a href="events.html">
                                        <h4>Prome dia di skol</h4>
                                    </a>
                                    <p>Back to school 2021/2022, welcome back</p>
                                    <span>8:30 am – 1:00 pm</span>
                                </div>
                            </li>
                            {{!-- <li>
                                <div class="ho-ev-date"><span>12</span><span>jan,2018</span>
                                </div>
                                <div class="ho-ev-link">
                                    <a href="events.html">
                                        <h4>Training at Team Fabio Clemente</h4>
                                    </a>
                                    <p>Nulla at velit convallis venenatis.</p>
                                    <span>9:15 am – 5:00 pm</span>
                                </div>
                            </li>
                            <li>
                                <div class="ho-ev-date"><span>26</span><span>jan,2018</span>
                                </div>
                                <div class="ho-ev-link">
                                    <a href="events.html">
                                        <h4>Nulla at velit convallis</h4>
                                    </a>
                                    <p>Nulla at velit convallis, venenatis lacus quis, efficitur lectus.</p>
                                    <span>9:15 am – 5:00 pm</span>
                                </div>
                            </li>
                            <li>
                                <div class="ho-ev-date"><span>18</span><span>jan,2018</span>
                                </div>
                                <div class="ho-ev-link">
                                    <a href="events.html">
                                        <h4>Admissions Information Session and Tour</h4>
                                    </a>
                                    <p>Nulla at velit convallis, venenatis lacus quis, efficitur lectus.</p>
                                    <span>9:15 am – 5:00 pm</span>
                                </div>
                            </li> --}}
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- SOCIAL MEDIA SHARE -->
<section>
    <div class="icon-float">
        <ul>
            <li><a href="#" class="sh"><br> Share</a> </li>
            <li><a href="#" class="fb1"><i class="fa fa-facebook" aria-hidden="true"></i></i></i></a> </li>
            <li><a href="https://api.whatsapp.com/send?phone=59998689407" class="wa1"><i class="fa fa-whatsapp" aria-hidden="true"></i></a> </li>
            <li><a href="https://mail.google.com/mail/?view=cm&fs=1&to=adventbestuur@gmail.com" class="sh1"><i class="fa fa-envelope-o" aria-hidden="true"></i></a> </li>
        </ul>
    </div>
</section>