.wel-content{
    width: 100%;
}
.wel-content img{
    height: 80px;
    display: flex;
}

.maestro-box{
    width: 220px;
    height: 130px;
    background: #002147;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: white;
    border-radius: 10px;
    margin-left: 20px;
}

.chart-box{
    width: 430px;
}