<!DOCTYPE html>
<html>

<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Home</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' href='/vendor/bootstrap/css/bootstrap.min.css'>
    <script src="https://kit.fontawesome.com/14fac1d4b2.js" crossorigin="anonymous"></script>
    <link href='https://unpkg.com/boxicons@2.0.9/css/boxicons.min.css' rel='stylesheet'>
    <link rel='stylesheet' href='/css/portal/style.css'>
    <link rel='stylesheet' href='/css/portal/maestro/studiante.css'>

</head>

<body>
    {{!-- navbar --}}
    <nav id="navbar">
        <div class="row rowW">
            <div class="nav-img">
                <a href=""><img src="media/logoDash.png" alt=""></a>
            </div>
            <div class="nav-drop">
                <div class="nav-dropdown">
                    <img src="media/maricruz1.jpg" alt="">
                    <span>Maricruz</span>
                    <i class="fas fa-angle-down"></i>
                    <div class="nav-dropdown-content">
                        <a href="#"><i class="fas fa-user"></i>Profile</a>
                        <a href="/loginMaestro"><i class="fas fa-sign-out-alt"></i>Logout</a>
                    </div>
                </div>
            </div>
        </div>
    </nav>
    {{!-- sidebar --}}
    <div class="sidebar">
        <div class="logo-details">
            <img src="media/maricruz1.jpg" class="icon">
            <div class="logo_name">Maricruz</div>
            <i class="fas fa-bars" id="btn"></i>
        </div>
        <ul class="nav-list">
            <li>
                <a href="/maestro-home">
                    <i class='bx bxs-home'></i>
                    <span class="links_name">Home</span>
                </a>
                <span class="tooltip">Home</span>
            </li>
            <li>
                <a href="/maestro-studiante">
                    <i class='bx bxs-graduation'></i>
                    <span class="links_name">Studiante</span>
                </a>
                <span class="tooltip">Studiante</span>
            </li>
            <li>
                <a href="/admin-klas">
                    <i class='bx bxs-school'></i>
                    <span class="links_name">Klasnan</span>
                </a>
                <span class="tooltip">Klasnan</span>
            </li>
        </ul>
    </div>
    {{!-- content --}}
    <div class="dash-maestro">
        <div class="dash-headerM">
            <h4>Studiante</h4>
            <h6>Bestuur > portal > maestro > studiante</h6>
        </div>
        <div class="mae-content">
            <div class="">
                <div class="box-inn-sp">
                    <div class="inn-title">
                        <h4>Studiante</h4>
                    </div>
                    <div class="tab-inn">
                        <div class="table-responsive table-desi">
                            <table class="table table-hover" id="table-studiante">
                                <thead>
                                    <tr>
                                        <th>Image</th>
                                        <th>Nomber</th>
                                        <th>Fam</th>
                                        <th>Telefòn</th>
                                        <th>Email</th>
                                        <th>Adrès</th>
                                        <th>Fecha nasimentu</th>
                                        <th>Edit</th>
                                        <th>Delete</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td><span class="list-img"><img src="images/user/1.png" alt=""></span>
                                        </td>
                                        <td>martina</td>
                                        <td>+01 3214 6522</td>
                                        <td>chadengle@dummy.com</td>
                                        <td>united states</td>
                                        <td>ST17241</td>
                                        <td>03 Jun 1990</td>
                                        <td>
                                            <div class="table-delete">Delete</div>
                                        </td>
                                        <td>
                                            <div  class="table-edit" data-toggle="modal"
                                                data-target="#editInfoS">
                                                Edit
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td><span class="list-img"><img src="images/user/1.png" alt=""></span>
                                        </td>
                                        <td>martina</td>
                                        <td>+01 3214 6522</td>
                                        <td>chadengle@dummy.com</td>
                                        <td>united states</td>
                                        <td>ST17241</td>
                                        <td>03 Jun 1990</td>
                                        <td>
                                            <div class="table-delete">Delete</div>
                                        </td>
                                        <td>
                                            <div  class="table-edit" data-toggle="modal"
                                                data-target="#editInfoS">
                                                Edit
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td><span class="list-img"><img src="images/user/1.png" alt=""></span>
                                        </td>
                                        <td>martina</td>
                                        <td>+01 3214 6522</td>
                                        <td>chadengle@dummy.com</td>
                                        <td>united states</td>
                                        <td>ST17241</td>
                                        <td>03 Jun 1990</td>
                                        <td>
                                            <div class="table-delete">Delete</div>
                                        </td>
                                        <td>
                                            <div  class="table-edit" data-toggle="modal"
                                                data-target="#editInfoS">
                                                Edit
                                            </div>

                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal -->
<div class="modal fade" id="editInfoS" tabindex="-1" role="dialog" >
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Edit Informashon di studiante</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        ...
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>

</body>


<script src="vendor/jquery/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/2.9.2/umd/popper.min.js"></script>
<script src="vendor/bootstrap/js/bootstrap.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/chart.js@3.5.0/dist/chart.min.js"></script>
<script src="js/portal/general.js"></script>
<script src="js/portal/teacher/maestro-home.js"></script>

</html>