<!DOCTYPE html>
<html lang="en">

<head>
    <title>Adventschool bestuur</title>
    <!-- META TAGS -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Education master is one of the best educational html template, it's suitable for all education websites like university,college,school,online education,tution center,distance education,computer education">
    <meta name="keyword" content="education html template, university template, college template, school template, online education template, tution center template">
    <link rel="shortcut icon" href="images/icon.png" type="image/x-icon">
    <link href="vendor/bootstrap.css" rel="stylesheet" />
    <link rel="stylesheet" href="/vendor/fullCalendar/lib/main.css">
    <script src="https://kit.fontawesome.com/14fac1d4b2.js" crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700%7CJosefin+Sans:600,700" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet" />
    <link href="vendor/style-mob.css" rel="stylesheet" />
    <link href="vendor/materialize.css" rel="stylesheet">
    <link href="css/historia.css" rel="stylesheet" />
    <link href="css/character/character.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@10.15.5/dist/sweetalert2.min.css">
</head>

<body>
    {{>navbar}}
    {{{body}}}
      <!-- FOOTER -->
    <section class="wed-hom-footer">
        <div class="container">
            <div class="row wed-foot-link-1">
                <div class="col-md-3">
                    <h4>Nos Skolnan</h4>
                    <p>Bonam: Bonamweg25 38 <br> Telefòn: +5999 465 7636</p>
                    <p>Koralspecht: Kaya Lando 38 <br> Telefòn: +5999 465 7636</p>
                    <p>Mahuma-zuid: Kaminda Laurentius M. Mathilda 32-42 <br> Telefòn: +5999 465 7636</p>
                </div>
                <div class="col-md-3 foot-tc-mar-t-o">
                     <h4>Bestuur</h4>
                    <p>Adrès: Marigot weg 14, Willemstad, Curaçao</p>
                    <p>Telefón: <a href="#!">+5999 868 9407</a></p>
                    <p>Email: <a href="#!">adventschoolbestuur@gmail.com</a></p>
                    <h4 style="padding-bottom: 0;"></h4>
                    <a href="/register" class="regButton">Registra mi yu!</a>
                </div>
                <div class="col-md-3">
                    <h4>SOCIAL MEDIA</h4>
                    <ul>
                        <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                        </li>
                        <li><a href="https://mail.google.com/mail/?view=cm&fs=1&to=adventbestuur@gmail.com"><i class="fa fa-google-plus" aria-hidden="true"></i></a>
                        </li>
                        <li><a href="https://api.whatsapp.com/send?phone=59998689407"><i class="fa fa-whatsapp" aria-hidden="true"></i></a>
                        </li>
                    </ul>
                </div>
                 <div class="col-md-3">
                    <img class="regLogo" src="media/adLogo.png" alt="">
                </div>
            </div>
        </div>
    </section>

    <!-- COPY RIGHTS -->
    <section class="wed-rights">
        <div class="container">
            <div class="row">
                <div class="copy-right">
                   <a target="_blank" href="#">&#169;AdventschoolBestuur</a>
                </div>
            </div>
        </div>
    </section>

    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/main.min.js"></script>
    <script src="vendor/bootstrap.min.js"></script>
    <script src="vendor/materialize.min.js"></script>
    <script src="vendor/custom.js"></script>
  <script src="/vendor/waypoints/jquery.waypoints.min.js"></script>
    <script src="vendor/counterup/counterup.min.js"></script>
    <script src="/vendor/fullCalendar/lib/main.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10.15.5/dist/sweetalert2.all.min.js"></script>
    <script src="js/main.js"></script>
    <script src="js/skol/koralspecht.js"></script>
</body>
</html>