<!DOCTYPE html>
<html lang="en">

<head>
    <title>Adventschool bestuur</title>
    <!-- META TAGS -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Education master is one of the best educational html template, it's suitable for all education websites like university,college,school,online education,tution center,distance education,computer education">
    <meta name="keyword" content="education html template, university template, college template, school template, online education template, tution center template">
    <link rel="shortcut icon" href="images/icon.png" type="image/x-icon">
    <script src="https://kit.fontawesome.com/14fac1d4b2.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="./fontawesome-free-5.15.2-web/css/fontawesome.min.css">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700%7CJosefin+Sans:600,700" rel="stylesheet">
    <link href="vendor/materialize.css" rel="stylesheet">
    <link href="vendor/bootstrap.css" rel="stylesheet" />
    <link href="css/style.css" rel="stylesheet" />
    <link href="vendor/style-mob.css" rel="stylesheet" />
</head>

<body>
    {{>navbar}}
    {{{body}}}
    <script src="vendor/main.min.js"></script>
    <script src="vendor/bootstrap.min.js"></script>
    <script src="vendor/materialize.min.js"></script>
    <script src="vendor/custom.js"></script>
</body>
</html>