<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Login</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' media='screen' href='css/login.css'>
   
</head>
<body>
    <div class="app ">

		<div class="bg"></div>

		<form id="loginForm">
			<header>
				<img src="media/adLogo.png">
			</header>

			<div class="inputs">
				<input type="text" name="" placeholder="Username">
				<input type="password" name="" placeholder="Password">

				<p class="light"><a href="#">Forgot password?</a></p>
			</div>

		</form>

		<footer>
			<button>Log In</button>
			<p>Bo no ta registra? <a href="#">Registra</a></p>
		</footer>


	</div>
     <script src='js/login.js'></script>
</body>
</html>